<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAlongTask</key>
	<string>gesturedetectorAtParam</string>
	<key>consumerByFramework</key>
	<string>accessiblePainterShade</string>
	<key>projectionAwayInterpreter</key>
	<string>interpolationTierLocation</string>
	<key>semanticNotifierVisibility</key>
	<string>optionFlyweightCount</string>
	<key>statelessOutsideMemento</key>
	<string>semanticsOfVisitor</string>
	<key>timerFunctionSkewx</key>
	<string>rapidTitleBrightness</string>
	<key>viewBesideVisitor</key>
	<string>notifierOfInterpreter</string>
</dict>
</plist>
