<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mutableBlocInset</key>
	<string>documentStateDistance</string>
	<key>persistentTableDensity</key>
	<string>hashShapeBound</string>
	<key>stepThroughTemple</key>
	<string>catalystAgainstJob</string>
	<key>storyboardVariableMode</key>
	<string>routerVisitorDuration</string>
	<key>tensorViewLocation</key>
	<string>techniqueFromFlyweight</string>
</dict>
</plist>
