<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellThanMemento</key>
	<string>nibActionFrequency</string>
	<key>injectionAndMemento</key>
	<string>localPriorityTag</string>
	<key>intermediateEntityDirection</key>
	<string>directlyQueueOrigin</string>
	<key>layoutSinceStyle</key>
	<string>enabledInterfaceIndex</string>
	<key>oldCatalystRotation</key>
	<string>bufferScopeTail</string>
	<key>resourceCycleName</key>
	<string>gradientAndPlatform</string>
	<key>sinkOrJob</key>
	<string>dynamicSignatureForce</string>
	<key>staticEquipmentTension</key>
	<string>interfaceBesideSystem</string>
</dict>
</plist>
