<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSingletonOrigin</key>
	<string>heapInsideVariable</string>
	<key>concreteConfigurationAlignment</key>
	<string>liteProgressbarColor</string>
	<key>diversifiedTextureSpacing</key>
	<string>immediateResultMargin</string>
	<key>permanentModelAppearance</key>
	<string>allocatorContainPrototype</string>
	<key>prismaticStepLocation</key>
	<string>similarProviderVisibility</string>
	<key>semanticsOutsideChain</key>
	<string>axisOutsideStructure</string>
	<key>singleEquipmentInset</key>
	<string>elasticUsagePressure</string>
</dict>
</plist>
