<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAwayStructure</key>
	<string>serviceByMode</string>
	<key>captionFacadeHead</key>
	<string>semanticAwaitDelay</string>
	<key>hardLayoutBottom</key>
	<string>optimizerCommandScale</string>
	<key>listviewAroundFramework</key>
	<string>streamCompositeFeedback</string>
</dict>
</plist>
