<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBlocEdge</key>
	<string>topicUntilScope</string>
	<key>allocatorAgainstFlyweight</key>
	<string>featureFrameworkFeedback</string>
	<key>appbarChainAppearance</key>
	<string>operationOperationOffset</string>
	<key>consultativeRequestVisible</key>
	<string>blocWorkPadding</string>
	<key>taskPatternSaturation</key>
	<string>behaviorFrameworkValidation</string>
	<key>visibleRowVisibility</key>
	<string>subpixelCompositeName</string>
</dict>
</plist>
