<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintJobHue</key>
	<string>offsetWithoutJob</string>
	<key>difficultMethodVelocity</key>
	<string>accessibleLayoutKind</string>
	<key>effectIncludeCommand</key>
	<string>delicatePaddingRight</string>
	<key>loopVarDelay</key>
	<string>nodeVariableMode</string>
	<key>routerDuringInterpreter</key>
	<string>coordinatorTaskInset</string>
	<key>zoneContainAction</key>
	<string>dynamicCommandTag</string>
</dict>
</plist>
