<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAmongSystem</key>
	<string>composablePresenterState</string>
	<key>characterInsideCommand</key>
	<string>apertureShapeName</string>
	<key>comprehensiveSpriteLeft</key>
	<string>labelWithoutCommand</string>
	<key>contractionAwayFacade</key>
	<string>providerPrototypeRate</string>
	<key>dialogsCommandSpeed</key>
	<string>responsiveScreenBehavior</string>
	<key>draggableCardRotation</key>
	<string>hardTextDelay</string>
</dict>
</plist>
