<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapAdapterStatus</key>
	<string>accessibleAssetInterval</string>
	<key>resourceThanTier</key>
	<string>missionPhaseFormat</string>
	<key>tangentTaskColor</key>
	<string>navigatorSystemOrigin</string>
	<key>webEventSpacing</key>
	<string>permanentCycleSkewy</string>
</dict>
</plist>
