<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureDespiteAdapter</key>
	<string>completerKindBrightness</string>
	<key>cellObserverDelay</key>
	<string>semanticTransformerPressure</string>
	<key>mediaOperationRotation</key>
	<string>priorQueueDensity</string>
	<key>missionFlyweightKind</key>
	<string>buttonExceptVar</string>
	<key>threadWithLevel</key>
	<string>independentAnimationLocation</string>
</dict>
</plist>
