<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAtType</key>
	<string>accessibleIntensityVisible</string>
	<key>customInjectionOrientation</key>
	<string>constraintLayerOrigin</string>
	<key>painterFacadeAlignment</key>
	<string>histogramAndLayer</string>
	<key>rapidOptimizerSize</key>
	<string>iterativeContainerInteraction</string>
</dict>
</plist>
