<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartPerContext</key>
	<string>displayableTouchBound</string>
	<key>errorInterpreterAppearance</key>
	<string>navigatorDuringSingleton</string>
	<key>nativeRepositorySpacing</key>
	<string>requiredLogMode</string>
	<key>radiusPerEnvironment</key>
	<string>respectiveLocalizationBottom</string>
	<key>riverpodLayerTag</key>
	<string>menuEnvironmentTension</string>
	<key>usedDecorationKind</key>
	<string>iterativeDelegateOffset</string>
	<key>vectorPlatformBottom</key>
	<string>buttonContextMargin</string>
</dict>
</plist>
