<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellObserverStyle</key>
	<string>routeWithoutAdapter</string>
	<key>eventPhaseStyle</key>
	<string>contractionForFacade</string>
	<key>semanticZoneForce</key>
	<string>rowKindFeedback</string>
	<key>touchBeyondJob</key>
	<string>consumerByValue</string>
</dict>
</plist>
