<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeProfileDistance</key>
	<string>typicalTopicType</string>
	<key>directlyTimerRight</key>
	<string>sizeCommandDensity</string>
	<key>lossOfChain</key>
	<string>crucialExponentInteraction</string>
	<key>overlayIncludeMode</key>
	<string>nodeVersusSingleton</string>
	<key>sortedSymbolInteraction</key>
	<string>rectThroughStage</string>
</dict>
</plist>
