<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramThroughMode</key>
	<string>resilientBoxFlags</string>
	<key>integerAdapterPressure</key>
	<string>containerIncludeMethod</string>
	<key>largeShaderVelocity</key>
	<string>curveThroughLevel</string>
	<key>modulusOutsideTask</key>
	<string>constBoxshadowFlags</string>
	<key>routerMethodVelocity</key>
	<string>enabledChannelsFlags</string>
	<key>subscriptionCompositeName</key>
	<string>frameBeyondKind</string>
	<key>visibleNotificationFlags</key>
	<string>chartAndMediator</string>
</dict>
</plist>
