<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionCompositeFormat</key>
	<string>geometricFactoryVisible</string>
	<key>clipperFrameworkInteraction</key>
	<string>bufferAboutStrategy</string>
	<key>crudeMenuKind</key>
	<string>profileByPattern</string>
	<key>declarativeSpotInterval</key>
	<string>animatedcontainerTaskRotation</string>
	<key>metadataScopeCenter</key>
	<string>baselineFrameworkTheme</string>
	<key>multiplicationForMediator</key>
	<string>publicMovementState</string>
	<key>persistentCompositionAppearance</key>
	<string>interactorBesidePattern</string>
	<key>responseContainProcess</key>
	<string>enabledCubitCenter</string>
	<key>stepCompositeDuration</key>
	<string>semanticPopupPressure</string>
</dict>
</plist>
