<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitPerBuffer</key>
	<string>enabledLayerFrequency</string>
	<key>curveCycleColor</key>
	<string>tappableTweenCenter</string>
	<key>grainCompositeDelay</key>
	<string>skirtStructureMode</string>
	<key>handlerLevelFrequency</key>
	<string>sharedUtilAcceleration</string>
	<key>hyperbolicEquipmentTop</key>
	<string>adaptiveDialogsRotation</string>
	<key>lossContextRight</key>
	<string>giftBesideMemento</string>
	<key>singleNotificationLeft</key>
	<string>sizePatternFrequency</string>
</dict>
</plist>
