<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperViaSingleton</key>
	<string>containerAgainstProxy</string>
	<key>delicateCertificateColor</key>
	<string>typicalSkinMode</string>
	<key>exceptionPlatformBorder</key>
	<string>beginnerAnimationOpacity</string>
	<key>flexAroundStrategy</key>
	<string>firstDecorationRight</string>
	<key>intermediateBuilderFormat</key>
	<string>numericalConstraintMode</string>
	<key>lostDescriptionDuration</key>
	<string>tangentActivitySkewx</string>
	<key>presenterVisitorSpeed</key>
	<string>diffableMediaPressure</string>
	<key>requestParamType</key>
	<string>blocInsideVisitor</string>
	<key>signAgainstMethod</key>
	<string>commonPreviewOrigin</string>
</dict>
</plist>
