<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kernelJobKind</key>
	<string>aspectThroughDecorator</string>
	<key>lastChapterVisibility</key>
	<string>previewIncludeFlyweight</string>
	<key>mutableTaskPadding</key>
	<string>hardSliderOrigin</string>
	<key>providerSinceCycle</key>
	<string>stampMediatorSaturation</string>
	<key>responsiveStreamSize</key>
	<string>interfaceAdapterInterval</string>
</dict>
</plist>
