<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationMediatorBrightness</key>
	<string>flexibleDelegateColor</string>
	<key>modalNearFunction</key>
	<string>reductionTypePressure</string>
	<key>optimizerAndCycle</key>
	<string>touchTierStyle</string>
	<key>usecaseThroughTemple</key>
	<string>expandedMethodInset</string>
</dict>
</plist>
