<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationActionTag</key>
	<string>desktopBaseKind</string>
	<key>lossAboutMode</key>
	<string>particleDuringSystem</string>
	<key>mobxAgainstStage</key>
	<string>behaviorWorkSkewx</string>
	<key>navigatorObserverStatus</key>
	<string>tabviewStyleDelay</string>
	<key>queueActivityOpacity</key>
	<string>bulletBeyondType</string>
	<key>semanticTweenLeft</key>
	<string>heroTypeType</string>
	<key>textSystemAcceleration</key>
	<string>remainderAtJob</string>
</dict>
</plist>
