<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableCoordinatorAcceleration</key>
	<string>decorationFlyweightResponse</string>
	<key>notificationViaFacade</key>
	<string>taskPrototypeAlignment</string>
	<key>permanentDescriptionKind</key>
	<string>crudeSwiftMode</string>
	<key>priorOverlayTheme</key>
	<string>advancedCollectionOpacity</string>
	<key>serviceAmongTemple</key>
	<string>methodObserverSpeed</string>
</dict>
</plist>
