<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearKind</key>
	<string>numericalSensorRate</string>
	<key>cardPrototypeDuration</key>
	<string>featureForStrategy</string>
	<key>controllerActionPressure</key>
	<string>futureAboutLevel</string>
	<key>convolutionFormBound</key>
	<string>hardSegmentType</string>
	<key>difficultRichtextRight</key>
	<string>aspectratioWorkDistance</string>
	<key>draggableRadioPosition</key>
	<string>actionPlatformTransparency</string>
	<key>rowActivityInset</key>
	<string>kernelContextBound</string>
</dict>
</plist>
