<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTweenColor</key>
	<string>equipmentInsideState</string>
	<key>curveForStage</key>
	<string>notifierFacadeHue</string>
	<key>dynamicUsageInterval</key>
	<string>sequentialMobxBound</string>
	<key>prismaticListenerSkewx</key>
	<string>widgetLevelInterval</string>
	<key>repositoryAndCommand</key>
	<string>asyncPerProxy</string>
	<key>transitionExceptState</key>
	<string>singletonTaskOrigin</string>
</dict>
</plist>
