<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPositionHue</key>
	<string>entityAboutDecorator</string>
	<key>cubitShapeRotation</key>
	<string>adaptiveObserverKind</string>
	<key>equalizationDespitePhase</key>
	<string>dependencyInterpreterResponse</string>
	<key>modelAwayChain</key>
	<string>difficultBasePadding</string>
	<key>pageviewProxyShade</key>
	<string>alignmentAlongStage</string>
	<key>queueStateShape</key>
	<string>menuUntilMode</string>
	<key>subscriptionIncludeState</key>
	<string>cupertinoFunctionOrigin</string>
</dict>
</plist>
