<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasExceptAction</key>
	<string>usedRectDirection</string>
	<key>controllerKindColor</key>
	<string>directlySpotMargin</string>
	<key>cubitTempleBound</key>
	<string>flexibleFutureBorder</string>
	<key>euclideanLocalizationDelay</key>
	<string>allocatorContextTail</string>
	<key>kernelVisitorTheme</key>
	<string>delegateVisitorFlags</string>
	<key>newestSkirtRight</key>
	<string>listenerWorkRate</string>
	<key>opaqueCompleterEdge</key>
	<string>notificationAtPhase</string>
	<key>textOfChain</key>
	<string>liteBuilderDistance</string>
	<key>textureBeyondVariable</key>
	<string>elasticBaselineForce</string>
</dict>
</plist>
