<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryWithoutType</key>
	<string>arithmeticChainKind</string>
	<key>decorationBeyondFlyweight</key>
	<string>prevDependencyAppearance</string>
	<key>dropdownbuttonNearType</key>
	<string>configurationStatePressure</string>
	<key>durationProxyBound</key>
	<string>curveObserverInset</string>
	<key>finalQueueDistance</key>
	<string>sustainableTouchForce</string>
	<key>ignoredVectorDelay</key>
	<string>binaryWithoutWork</string>
	<key>inactiveTabviewInset</key>
	<string>stampCompositeIndex</string>
	<key>isolateSinceType</key>
	<string>ephemeralMemberAlignment</string>
	<key>observerJobBottom</key>
	<string>interactorBufferLocation</string>
	<key>oldSampleHue</key>
	<string>bitrateBridgeAcceleration</string>
</dict>
</plist>
