<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPlateOpacity</key>
	<string>stateAmongState</string>
	<key>coordinatorJobIndex</key>
	<string>topicAlongForm</string>
	<key>descriptorAsMemento</key>
	<string>curveInterpreterShape</string>
	<key>matrixProxyMomentum</key>
	<string>interfaceAtFunction</string>
	<key>momentumAwayStructure</key>
	<string>smallGetxPadding</string>
	<key>parallelGramFeedback</key>
	<string>diversifiedFrameCount</string>
	<key>particleInterpreterVisible</key>
	<string>interactiveDelegateTheme</string>
	<key>spriteUntilLevel</key>
	<string>projectFromEnvironment</string>
</dict>
</plist>
