<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorPlatformState</key>
	<string>customizedViewTension</string>
	<key>diffableListviewMargin</key>
	<string>animationActionKind</string>
	<key>diffableTopicCenter</key>
	<string>composablePreviewDistance</string>
	<key>labelOrStage</key>
	<string>titleNearVar</string>
	<key>reusableLocalizationVelocity</key>
	<string>independentGemBottom</string>
</dict>
</plist>
