<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSubscriptionShape</key>
	<string>customizedDimensionVisible</string>
	<key>gateWithoutInterpreter</key>
	<string>fusedTernaryDuration</string>
	<key>transitionAboutStage</key>
	<string>scrollableDocumentTheme</string>
</dict>
</plist>
