<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterPatternSkewy</key>
	<string>sliderAroundStage</string>
	<key>grayscaleFormIndex</key>
	<string>backwardAsyncOffset</string>
	<key>loopForBridge</key>
	<string>autoTextureSkewx</string>
	<key>lostResolverAlignment</key>
	<string>binaryStageSize</string>
	<key>overlayUntilLayer</key>
	<string>independentColumnRotation</string>
	<key>viewThanVariable</key>
	<string>visibleResolverType</string>
</dict>
</plist>
