<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAroundSingleton</key>
	<string>enabledResultValidation</string>
	<key>autoReductionTheme</key>
	<string>mapStrategyPadding</string>
	<key>controllerProcessScale</key>
	<string>stepAmongMediator</string>
	<key>greatSkinMomentum</key>
	<string>cosineProxyTheme</string>
	<key>localEffectTop</key>
	<string>positionSingletonColor</string>
	<key>mediumTextTop</key>
	<string>taskAboutActivity</string>
	<key>missionActionContrast</key>
	<string>apertureChainSpacing</string>
	<key>smartWidgetFlags</key>
	<string>nativeRemainderSpeed</string>
	<key>widgetViaVariable</key>
	<string>workflowByVar</string>
</dict>
</plist>
