<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBlocCenter</key>
	<string>criticalMovementIndex</string>
	<key>entityTempleStyle</key>
	<string>explicitErrorDensity</string>
	<key>fixedButtonDensity</key>
	<string>utilContainSystem</string>
	<key>metadataVersusMethod</key>
	<string>dependencyPhaseInteraction</string>
</dict>
</plist>
