<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCurvePressure</key>
	<string>canvasMediatorSpeed</string>
	<key>capsuleDuringPlatform</key>
	<string>captionPrototypePadding</string>
	<key>heapFunctionFlags</key>
	<string>tensorAxisInset</string>
	<key>heroDuringProcess</key>
	<string>animatedcontainerEnvironmentDepth</string>
	<key>navigatorAwayFacade</key>
	<string>presenterParameterAppearance</string>
	<key>uniqueBuilderAppearance</key>
	<string>chapterAboutMethod</string>
</dict>
</plist>
