<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorAsLevel</key>
	<string>momentumMementoTension</string>
	<key>eagerThreadPosition</key>
	<string>animationBufferSkewx</string>
	<key>featureSystemSize</key>
	<string>eagerCellState</string>
	<key>materialAdapterDuration</key>
	<string>subpixelFrameworkState</string>
	<key>priorityContainCommand</key>
	<string>compositionalAllocatorTag</string>
	<key>prismaticTimerAcceleration</key>
	<string>metadataViaMemento</string>
	<key>publicMaterialOpacity</key>
	<string>futureActionVisibility</string>
	<key>rapidBlocInterval</key>
	<string>easyChannelRate</string>
	<key>stateDuringInterpreter</key>
	<string>graphicOfCommand</string>
	<key>storeObserverFeedback</key>
	<string>sliderFacadeAppearance</string>
</dict>
</plist>
