<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorIncludeSingleton</key>
	<string>configurationEnvironmentFrequency</string>
	<key>dedicatedTextureHead</key>
	<string>labelFlyweightDuration</string>
	<key>marginOutsideActivity</key>
	<string>backwardErrorHead</string>
	<key>missionNearInterpreter</key>
	<string>containerBufferInset</string>
	<key>particleOfPrototype</key>
	<string>dedicatedLoopDuration</string>
	<key>serviceStageVelocity</key>
	<string>greatGrainDensity</string>
</dict>
</plist>
