<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerContainVar</key>
	<string>titleAwayKind</string>
	<key>awaitFrameworkMomentum</key>
	<string>opaquePaddingDuration</string>
	<key>difficultStepDensity</key>
	<string>timerViaChain</string>
	<key>gridviewVersusChain</key>
	<string>routeAdapterHead</string>
	<key>mediaqueryFrameworkEdge</key>
	<string>kernelNearTemple</string>
	<key>movementParamType</key>
	<string>utilVarOpacity</string>
	<key>significantTouchShape</key>
	<string>inkwellPatternIndex</string>
	<key>stampSystemValidation</key>
	<string>widgetMementoOrientation</string>
</dict>
</plist>
