<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterExceptProcess</key>
	<string>backwardPriorityOffset</string>
	<key>curveOrStyle</key>
	<string>frameFromPrototype</string>
	<key>finalServiceScale</key>
	<string>allocatorThroughStructure</string>
	<key>ignoredInkwellCoord</key>
	<string>giftVersusPhase</string>
	<key>relationalControllerScale</key>
	<string>asyncPositionDepth</string>
	<key>retainedContainerSaturation</key>
	<string>durationStrategyRight</string>
	<key>seamlessSessionBottom</key>
	<string>viewStrategyKind</string>
	<key>sophisticatedCustompaintLocation</key>
	<string>exceptionCommandOrigin</string>
	<key>tabviewMementoColor</key>
	<string>switchFacadeTheme</string>
	<key>workflowBesideFlyweight</key>
	<string>giftMementoMode</string>
</dict>
</plist>
