<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentProtocolState</key>
	<string>delegateAwayJob</string>
	<key>eagerAlignmentDistance</key>
	<string>uniformEntityBottom</string>
	<key>normalResultAcceleration</key>
	<string>particleByInterpreter</string>
	<key>switchMethodMomentum</key>
	<string>gridAroundNumber</string>
</dict>
</plist>
