<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedQueueShade</key>
	<string>exceptionParameterBehavior</string>
	<key>captionSinceStyle</key>
	<string>textPerInterpreter</string>
	<key>cubeAtPrototype</key>
	<string>mobileInMemento</string>
	<key>lostEventStatus</key>
	<string>resizableGateCoord</string>
	<key>resourceStructureScale</key>
	<string>tweenCycleStatus</string>
</dict>
</plist>
