<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackParamOpacity</key>
	<string>tangentEnvironmentShape</string>
	<key>compositionContextDensity</key>
	<string>tabviewAsFunction</string>
	<key>heroFlyweightTint</key>
	<string>dynamicArithmeticCenter</string>
	<key>layerJobAcceleration</key>
	<string>frameForStage</string>
	<key>publicSliderDensity</key>
	<string>imageVersusVisitor</string>
	<key>riverpodIncludeBuffer</key>
	<string>zoneProcessRight</string>
	<key>skirtOutsideStage</key>
	<string>buttonProcessInset</string>
	<key>substantialRouteOrientation</key>
	<string>getxBesideProcess</string>
	<key>usedEqualizationAppearance</key>
	<string>enabledSizeEdge</string>
</dict>
</plist>
