<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveWithoutBridge</key>
	<string>delicateResourceState</string>
	<key>enabledFutureDepth</key>
	<string>stampSinceStrategy</string>
	<key>listviewBeyondObserver</key>
	<string>directConvolutionName</string>
	<key>mobileAndCommand</key>
	<string>delicateGesturedetectorRight</string>
	<key>oldManagerBottom</key>
	<string>scaleDespiteVar</string>
	<key>widgetDuringAdapter</key>
	<string>accessibleAssetInset</string>
</dict>
</plist>
