<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDecorationSkewy</key>
	<string>invisibleCompletionColor</string>
	<key>specifierBufferIndex</key>
	<string>subscriptionFlyweightFormat</string>
	<key>tweenVarBound</key>
	<string>slashLevelVisible</string>
</dict>
</plist>
