<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPatternOpacity</key>
	<string>originalAsyncInterval</string>
	<key>diffableChecklistSaturation</key>
	<string>heroAtTemple</string>
	<key>imageLikeVariable</key>
	<string>opaqueModulusBrightness</string>
</dict>
</plist>
