<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAlertTop</key>
	<string>dependencyInsidePattern</string>
	<key>dependencyCommandStatus</key>
	<string>largeTitleSkewy</string>
	<key>dialogsLikeInterpreter</key>
	<string>sortedCubitShade</string>
	<key>invisibleFeatureScale</key>
	<string>textfieldCommandType</string>
	<key>positionedVisitorDepth</key>
	<string>relationalContainerFormat</string>
	<key>streamThroughShape</key>
	<string>requestFrameworkAppearance</string>
</dict>
</plist>
