<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterAdapterBorder</key>
	<string>clipperLayerOrientation</string>
	<key>explicitQueueCenter</key>
	<string>normalPositionMomentum</string>
	<key>precisionUntilProcess</key>
	<string>denseNavigatorTag</string>
	<key>resourceAwayObserver</key>
	<string>utilCommandOpacity</string>
</dict>
</plist>
