<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBufferName</key>
	<string>sampleVersusVariable</string>
	<key>certificateMementoShade</key>
	<string>sizeFromParam</string>
	<key>iconAsNumber</key>
	<string>radioWorkName</string>
	<key>lazyNotifierFeedback</key>
	<string>basePrototypeSize</string>
	<key>providerCompositeOffset</key>
	<string>materialRepositoryStyle</string>
	<key>respectiveResponseInterval</key>
	<string>graphAndProxy</string>
	<key>tensorStoryboardKind</key>
	<string>subscriptionActivityPosition</string>
</dict>
</plist>
