<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushJobVisible</key>
	<string>bufferInsideNumber</string>
	<key>compositionalTextForce</key>
	<string>cubitShapeOrientation</string>
	<key>petForParam</key>
	<string>publicCatalystSpacing</string>
	<key>skirtTaskType</key>
	<string>smallResultContrast</string>
	<key>streamMethodName</key>
	<string>numericalHeapDensity</string>
	<key>unsortedAllocatorAppearance</key>
	<string>heroOutsideContext</string>
</dict>
</plist>
