<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionDuringStructure</key>
	<string>constraintFacadeLeft</string>
	<key>repositorySinceDecorator</key>
	<string>deferredTabbarDistance</string>
	<key>semanticUtilShape</key>
	<string>viewThroughJob</string>
	<key>transformerChainScale</key>
	<string>fusedDescriptionTint</string>
</dict>
</plist>
