<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeWidgetPadding</key>
	<string>titleValueFlags</string>
	<key>containerContextBorder</key>
	<string>resizableBlocSkewy</string>
	<key>resourceEnvironmentMomentum</key>
	<string>segmentForPhase</string>
	<key>scaffoldModeStatus</key>
	<string>containerOfStructure</string>
</dict>
</plist>
