<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStageDelay</key>
	<string>specifierSinceNumber</string>
	<key>durationStructureSpeed</key>
	<string>listenerAroundVar</string>
	<key>smallViewAcceleration</key>
	<string>constraintFunctionPressure</string>
</dict>
</plist>
