<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStateVelocity</key>
	<string>segueCompositeSpacing</string>
	<key>coordinatorAgainstState</key>
	<string>listviewAroundEnvironment</string>
	<key>desktopSkinSize</key>
	<string>displayableActionLocation</string>
	<key>exponentProxyTransparency</key>
	<string>completionInsideTemple</string>
	<key>sinkViaPlatform</key>
	<string>statelessAroundParam</string>
	<key>tickerInLevel</key>
	<string>sensorBeyondProxy</string>
</dict>
</plist>
