<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAgainstInterpreter</key>
	<string>keySpineTension</string>
	<key>checklistPhaseMargin</key>
	<string>cellStructurePressure</string>
	<key>commonDescriptorVisible</key>
	<string>singletonOutsideStyle</string>
	<key>curveExceptStyle</key>
	<string>effectStructureFeedback</string>
	<key>errorWithoutProcess</key>
	<string>accessoryKindBottom</string>
	<key>grainStrategyBrightness</key>
	<string>easyStatelessOrientation</string>
	<key>offsetDespitePhase</key>
	<string>grainStateRight</string>
	<key>shaderIncludeStage</key>
	<string>uniformEntityFlags</string>
	<key>substantialPageviewHue</key>
	<string>delegateContainTask</string>
	<key>textureFacadeOpacity</key>
	<string>iconPerDecorator</string>
</dict>
</plist>
