<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAlongMode</key>
	<string>scaffoldThroughEnvironment</string>
	<key>difficultBatchFormat</key>
	<string>remainderAgainstScope</string>
	<key>listenerStyleFormat</key>
	<string>touchInAction</string>
</dict>
</plist>
