<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBuilderRotation</key>
	<string>iconAroundLevel</string>
	<key>coordinatorMethodTheme</key>
	<string>capacitiesThanPhase</string>
	<key>entityAlongScope</key>
	<string>techniqueViaMode</string>
	<key>geometricStreamResponse</key>
	<string>stepScopeShade</string>
	<key>nibFromFlyweight</key>
	<string>decorationActionOrigin</string>
	<key>positionedAroundStyle</key>
	<string>transitionVariableBorder</string>
	<key>transitionWithoutActivity</key>
	<string>mobxTempleAcceleration</string>
</dict>
</plist>
