<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBuilderOrientation</key>
	<string>permissiveLayerHead</string>
	<key>agileBuilderCenter</key>
	<string>injectionAwayAction</string>
	<key>constraintExceptOperation</key>
	<string>navigationNumberMomentum</string>
	<key>hyperbolicCompletionBehavior</key>
	<string>crucialTouchPosition</string>
	<key>hyperbolicContainerTheme</key>
	<string>mediocreRepositoryPressure</string>
	<key>listviewDecoratorHead</key>
	<string>disabledLayoutType</string>
	<key>pageviewFlyweightHead</key>
	<string>dynamicLayerFrequency</string>
	<key>pivotalTextAcceleration</key>
	<string>arithmeticGraphicCenter</string>
</dict>
</plist>
