<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileViewLocation</key>
	<string>segmentJobSkewx</string>
	<key>delegateBufferStatus</key>
	<string>callbackAboutType</string>
	<key>directlyBitrateFormat</key>
	<string>streamActivityTail</string>
	<key>expandedFormTransparency</key>
	<string>denseErrorScale</string>
	<key>fixedOffsetRate</key>
	<string>sustainableBlocTransparency</string>
	<key>keyAlignmentStyle</key>
	<string>hierarchicalPopupAppearance</string>
	<key>stateValueSpeed</key>
	<string>hashAmongPattern</string>
</dict>
</plist>
