<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedNumberFeedback</key>
	<string>streamLikeKind</string>
	<key>immutableSegmentVelocity</key>
	<string>monsterThroughMediator</string>
	<key>listenerSingletonRight</key>
	<string>widgetLevelScale</string>
	<key>seamlessSpotKind</key>
	<string>mobileApertureInteraction</string>
	<key>smartMetadataState</key>
	<string>resolverStyleBound</string>
	<key>sophisticatedOptionVelocity</key>
	<string>alertFormContrast</string>
	<key>titleStructureDuration</key>
	<string>grainFrameworkType</string>
</dict>
</plist>
