<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorBeyondParam</key>
	<string>basicInjectionInteraction</string>
	<key>diffableStepState</key>
	<string>coordinatorParamOrientation</string>
	<key>factoryTempleRotation</key>
	<string>mediaqueryInAdapter</string>
	<key>labelOperationAppearance</key>
	<string>menuStylePadding</string>
	<key>layoutWithFlyweight</key>
	<string>largeGroupIndex</string>
	<key>operationLikeOperation</key>
	<string>symmetricCycleMomentum</string>
	<key>priorCompositionDistance</key>
	<string>nodeSystemDirection</string>
	<key>subtleInjectionFormat</key>
	<string>coordinatorTaskVelocity</string>
</dict>
</plist>
