<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateBridgeVisible</key>
	<string>constTextState</string>
	<key>missedDependencyPressure</key>
	<string>cubitTierHead</string>
	<key>resultBeyondFramework</key>
	<string>resourceWithoutBridge</string>
	<key>transformerWithDecorator</key>
	<string>imagePatternDistance</string>
	<key>vectorCommandStyle</key>
	<string>giftOperationTheme</string>
</dict>
</plist>
