<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialValueTop</key>
	<string>scrollableIndicatorForce</string>
	<key>offsetThroughInterpreter</key>
	<string>gesturedetectorAroundContext</string>
	<key>pivotalIntensityAlignment</key>
	<string>topicBridgeCount</string>
	<key>pointByProxy</key>
	<string>listenerLayerCoord</string>
	<key>zoneCommandTop</key>
	<string>unactivatedUsecaseOrigin</string>
</dict>
</plist>
