<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncWidgetTension</key>
	<string>storeAtLayer</string>
	<key>boxshadowProcessBrightness</key>
	<string>immediateSinkTail</string>
	<key>completionEnvironmentTransparency</key>
	<string>eagerPaddingDistance</string>
	<key>decorationTempleTheme</key>
	<string>queueBesideMemento</string>
	<key>groupAlongCycle</key>
	<string>modalSingletonHead</string>
	<key>navigatorNearState</key>
	<string>signatureLevelTheme</string>
	<key>viewMethodOffset</key>
	<string>masterNumberInteraction</string>
</dict>
</plist>
