<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeTableDuration</key>
	<string>desktopGrayscaleOffset</string>
	<key>difficultThemeDirection</key>
	<string>gramNearDecorator</string>
	<key>draggableTransformerPressure</key>
	<string>robustLossDistance</string>
	<key>fixedCurveBrightness</key>
	<string>semanticCommandHead</string>
	<key>labelFacadeTheme</key>
	<string>relationalCurvePadding</string>
	<key>reactiveCoordinatorKind</key>
	<string>channelsAwayBuffer</string>
	<key>resourceAboutState</key>
	<string>segmentAwayOperation</string>
	<key>scaleThanOperation</key>
	<string>scrollSystemRight</string>
	<key>taskOrPattern</key>
	<string>tickerSinceNumber</string>
	<key>usecaseShapeTransparency</key>
	<string>equalizationThanInterpreter</string>
</dict>
</plist>
