<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferVarDistance</key>
	<string>extensionAdapterFormat</string>
	<key>crucialColumnName</key>
	<string>hashDespiteFunction</string>
	<key>popupThroughMethod</key>
	<string>particleViaVar</string>
	<key>routerPrototypeDepth</key>
	<string>persistentCubitFrequency</string>
	<key>staticHashOffset</key>
	<string>custompaintLevelTop</string>
	<key>storyboardNumberDirection</key>
	<string>cacheVersusVar</string>
</dict>
</plist>
