<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPresenterPadding</key>
	<string>menuWorkInterval</string>
	<key>greatDelegateInset</key>
	<string>gemCommandDelay</string>
	<key>managerAroundBridge</key>
	<string>delegateLayerDistance</string>
	<key>particleAtForm</key>
	<string>delegateProxyDepth</string>
	<key>presenterScopeFormat</key>
	<string>symmetricSwitchVisibility</string>
	<key>prismaticBulletStatus</key>
	<string>storeInVisitor</string>
	<key>storyboardBeyondParameter</key>
	<string>featureExceptMemento</string>
</dict>
</plist>
