<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasWithSystem</key>
	<string>crudeResourceShape</string>
	<key>commandAwayPlatform</key>
	<string>durationAroundLayer</string>
	<key>configurationBridgeBorder</key>
	<string>originalDocumentDirection</string>
	<key>deferredLogSize</key>
	<string>providerStructureDistance</string>
	<key>difficultSubscriptionInterval</key>
	<string>alignmentVersusShape</string>
	<key>localizationMethodBound</key>
	<string>errorMediatorTransparency</string>
	<key>queryOfCommand</key>
	<string>materialResourceOrientation</string>
	<key>specifierByObserver</key>
	<string>permissivePainterHue</string>
</dict>
</plist>
