<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatorAndInterpreter</key>
	<string>reductionUntilDecorator</string>
	<key>modalVersusAction</key>
	<string>subscriptionFrameworkOrientation</string>
	<key>pivotalProgressbarPosition</key>
	<string>durationContextCenter</string>
	<key>uniformRectInterval</key>
	<string>easyConsumerPressure</string>
	<key>visibleLossValidation</key>
	<string>normEnvironmentCount</string>
</dict>
</plist>
