<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderLikeAction</key>
	<string>titleVersusForm</string>
	<key>channelsMethodInterval</key>
	<string>signatureStateHue</string>
	<key>composableTouchBrightness</key>
	<string>statefulReferenceSize</string>
	<key>configurationParamVisible</key>
	<string>workflowDespitePrototype</string>
	<key>enabledStampVelocity</key>
	<string>navigatorForParameter</string>
	<key>featureStrategyStatus</key>
	<string>statelessByScope</string>
	<key>pageviewViaWork</key>
	<string>stateParamInteraction</string>
	<key>resultOutsideInterpreter</key>
	<string>titleStructureIndex</string>
</dict>
</plist>
