<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedEntityBottom</key>
	<string>requestNearFacade</string>
	<key>commandExceptType</key>
	<string>asyncAlongForm</string>
	<key>entityLikeType</key>
	<string>nibAroundMethod</string>
	<key>gradientDecoratorInterval</key>
	<string>smartCupertinoFlags</string>
	<key>immediateListenerMargin</key>
	<string>materialAlignmentColor</string>
	<key>labelPerType</key>
	<string>asynchronousGiftAlignment</string>
	<key>missionParamMargin</key>
	<string>radioModeEdge</string>
</dict>
</plist>
