<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftFromCommand</key>
	<string>observerUntilStyle</string>
	<key>playbackActivityStyle</key>
	<string>particleTaskForce</string>
	<key>resultTypeContrast</key>
	<string>materialAdapterTag</string>
	<key>sliderFacadeRate</key>
	<string>curveSincePrototype</string>
</dict>
</plist>
