<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintBesideFramework</key>
	<string>significantMemberTint</string>
	<key>disabledChartInset</key>
	<string>anchorIncludeVariable</string>
	<key>mainMultiplicationAppearance</key>
	<string>tabviewLikeContext</string>
	<key>playbackContainLevel</key>
	<string>monsterSystemHead</string>
	<key>routeCompositeSaturation</key>
	<string>alertContainKind</string>
	<key>significantViewDepth</key>
	<string>capacitiesStagePosition</string>
	<key>streamChainDirection</key>
	<string>symmetricSliderOffset</string>
	<key>taskBeyondVisitor</key>
	<string>utilStyleCoord</string>
	<key>topicPerSystem</key>
	<string>slashThanLayer</string>
	<key>usedMediaDelay</key>
	<string>effectSingletonBound</string>
</dict>
</plist>
