<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncContainerHue</key>
	<string>temporaryEventContrast</string>
	<key>ephemeralBuilderCoord</key>
	<string>concurrentCompositionMargin</string>
	<key>factoryWithoutStage</key>
	<string>errorThanVariable</string>
	<key>paddingOrStyle</key>
	<string>animatedCallbackRotation</string>
	<key>referenceBeyondPattern</key>
	<string>paddingLayerInteraction</string>
	<key>resolverExceptJob</key>
	<string>permanentRequestFlags</string>
	<key>staticMarginScale</key>
	<string>themeKindRate</string>
	<key>transitionMementoVisible</key>
	<string>configurationWorkTransparency</string>
</dict>
</plist>
