<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDecorationOrigin</key>
	<string>requestCycleIndex</string>
	<key>mainAsyncName</key>
	<string>popupVersusMemento</string>
	<key>monsterExceptBridge</key>
	<string>delicateAssetBrightness</string>
</dict>
</plist>
