<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphLayerDistance</key>
	<string>deferredIndicatorScale</string>
	<key>mobileConstraintBound</key>
	<string>tweenAsMode</string>
	<key>mobileSystemStatus</key>
	<string>subtleHashMargin</string>
	<key>normLikeJob</key>
	<string>textureBufferValidation</string>
	<key>pointLevelDelay</key>
	<string>cubitValueAppearance</string>
	<key>skinThroughLevel</key>
	<string>channelThroughType</string>
	<key>sustainableTransitionType</key>
	<string>resultDecoratorPosition</string>
	<key>textfieldPerWork</key>
	<string>asyncSegueOrigin</string>
</dict>
</plist>
