<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVersusParam</key>
	<string>matrixOperationLeft</string>
	<key>capsuleTempleTail</key>
	<string>navigationAroundNumber</string>
	<key>constraintAboutProxy</key>
	<string>labelAdapterResponse</string>
	<key>sharedTabbarStyle</key>
	<string>flexWithoutJob</string>
	<key>spineStateTension</key>
	<string>priorChannelsFlags</string>
</dict>
</plist>
