<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedBuilderDistance</key>
	<string>swiftAboutVariable</string>
	<key>containerShapeFrequency</key>
	<string>keyExceptionCount</string>
	<key>criticalTweenFlags</key>
	<string>titleForState</string>
	<key>groupAlongContext</key>
	<string>pivotalChallengeFrequency</string>
	<key>otherQueryInterval</key>
	<string>pivotalRepositoryPadding</string>
	<key>scrollableRequestTransparency</key>
	<string>isolateCycleBorder</string>
	<key>tensorMapInterval</key>
	<string>compositionByMethod</string>
</dict>
</plist>
