<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionViaCommand</key>
	<string>seamlessDecorationInterval</string>
	<key>allocatorWithContext</key>
	<string>dynamicPopupVelocity</string>
	<key>baseDuringEnvironment</key>
	<string>modelAndPrototype</string>
	<key>crucialSignatureType</key>
	<string>baseAdapterTension</string>
	<key>hashTempleDensity</key>
	<string>mainFeatureLeft</string>
	<key>interpolationOutsideOperation</key>
	<string>opaqueTransitionPressure</string>
	<key>presenterAdapterRight</key>
	<string>delegateDespitePhase</string>
	<key>referenceTierTag</key>
	<string>errorAroundLevel</string>
	<key>sophisticatedErrorShade</key>
	<string>interpolationScopeSkewy</string>
	<key>spineParamTint</key>
	<string>intuitiveTangentMargin</string>
</dict>
</plist>
