<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nativeButtonShade</key>
	<string>capacitiesFunctionSkewx</string>
	<key>prevGrayscaleBrightness</key>
	<string>prismaticStoreSpeed</string>
	<key>responseDespiteCommand</key>
	<string>featureWithoutCommand</string>
	<key>semanticPainterVisibility</key>
	<string>dropdownbuttonVisitorStyle</string>
	<key>widgetAlongStyle</key>
	<string>prevApertureFrequency</string>
</dict>
</plist>
