<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleOfFlyweight</key>
	<string>histogramAboutFunction</string>
	<key>getxInParam</key>
	<string>methodMediatorKind</string>
	<key>globalModulusVelocity</key>
	<string>persistentCollectionCoord</string>
	<key>listenerDuringDecorator</key>
	<string>consultativeMetadataBottom</string>
	<key>notificationInContext</key>
	<string>convolutionMementoContrast</string>
	<key>secondSceneVisible</key>
	<string>controllerModeContrast</string>
	<key>textMethodSkewx</key>
	<string>layerLikeInterpreter</string>
</dict>
</plist>
