<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystParamVisible</key>
	<string>primaryActivityAlignment</string>
	<key>checkboxVarName</key>
	<string>currentCheckboxDepth</string>
	<key>contractionChainHue</key>
	<string>buttonPerProxy</string>
	<key>desktopScaffoldFormat</key>
	<string>zoneCompositeBound</string>
	<key>entropyFormSize</key>
	<string>lostResourceOrientation</string>
	<key>fragmentActivityForce</key>
	<string>pointTempleSkewy</string>
	<key>geometricTextVelocity</key>
	<string>explicitGraphRight</string>
	<key>handlerAsKind</key>
	<string>entropyVersusPattern</string>
	<key>injectionJobSpacing</key>
	<string>utilMementoState</string>
	<key>tangentFacadeStatus</key>
	<string>entropyAlongInterpreter</string>
</dict>
</plist>
