<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeKindFeedback</key>
	<string>chapterValueHead</string>
	<key>fusedTabbarForce</key>
	<string>radiusPhaseName</string>
	<key>gemWithoutPhase</key>
	<string>spriteMethodSkewy</string>
	<key>prismaticParticleAlignment</key>
	<string>listviewExceptEnvironment</string>
	<key>profileJobMode</key>
	<string>platePerProxy</string>
	<key>slashAdapterBrightness</key>
	<string>chartDespitePlatform</string>
</dict>
</plist>
