<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowCommandCenter</key>
	<string>sophisticatedCoordinatorOpacity</string>
	<key>constraintBufferPadding</key>
	<string>particlePerInterpreter</string>
	<key>cubitPrototypeForce</key>
	<string>sampleInsideVariable</string>
	<key>momentumMethodAppearance</key>
	<string>subsequentTechniqueLeft</string>
	<key>providerThanOperation</key>
	<string>futureVariableLocation</string>
</dict>
</plist>
