<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTierBorder</key>
	<string>sequentialTopicSpeed</string>
	<key>directTextOpacity</key>
	<string>textChainShade</string>
	<key>navigationBeyondStage</key>
	<string>primaryResourceKind</string>
	<key>persistentSlashVelocity</key>
	<string>synchronousObserverHead</string>
	<key>resizableSpecifierShade</key>
	<string>textfieldActivityPosition</string>
	<key>segueScopeSpacing</key>
	<string>projectPlatformHead</string>
</dict>
</plist>
