<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAboutLayer</key>
	<string>pinchableNormBrightness</string>
	<key>featureModeMode</key>
	<string>statefulListviewKind</string>
	<key>flexibleCubitPosition</key>
	<string>crucialOffsetOpacity</string>
	<key>heroAdapterTint</key>
	<string>mobileCupertinoAlignment</string>
	<key>inactiveRepositoryDuration</key>
	<string>serviceThanBuffer</string>
	<key>presenterAlongVar</key>
	<string>decorationAtStyle</string>
	<key>resizableGroupTag</key>
	<string>deferredAppbarVelocity</string>
	<key>smartFrameOpacity</key>
	<string>frameAroundInterpreter</string>
</dict>
</plist>
