<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarViaPattern</key>
	<string>alphaInValue</string>
	<key>cellAlongLayer</key>
	<string>multiAspectratioState</string>
	<key>curveModeKind</key>
	<string>slashViaStrategy</string>
	<key>durationActionVelocity</key>
	<string>explicitInterfaceLeft</string>
	<key>interfaceFromScope</key>
	<string>semanticGesturedetectorState</string>
	<key>modulusAboutStage</key>
	<string>missedLabelFormat</string>
	<key>touchModeBorder</key>
	<string>tensorLayoutColor</string>
</dict>
</plist>
