<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopFrameType</key>
	<string>mobxAgainstBuffer</string>
	<key>featureWorkShape</key>
	<string>navigatorAndProxy</string>
	<key>futureAroundTask</key>
	<string>pivotalNotificationFeedback</string>
	<key>gemUntilBridge</key>
	<string>beginnerFutureFlags</string>
	<key>intermediateStreamBehavior</key>
	<string>precisionCycleContrast</string>
	<key>normFlyweightRotation</key>
	<string>callbackLikeShape</string>
	<key>positionedKindAcceleration</key>
	<string>sustainableShaderTheme</string>
	<key>providerKindLeft</key>
	<string>uniformCommandDepth</string>
	<key>segmentViaPrototype</key>
	<string>fixedDependencyForce</string>
</dict>
</plist>
