<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocLevelVisible</key>
	<string>chapterSystemHead</string>
	<key>directlySingletonDistance</key>
	<string>responsiveInstructionCenter</string>
	<key>petThanForm</key>
	<string>bitrateAgainstForm</string>
</dict>
</plist>
