<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaInsideState</key>
	<string>positionedBesideForm</string>
	<key>musicCycleVisible</key>
	<string>draggableMobileFrequency</string>
	<key>mutableProgressbarTransparency</key>
	<string>consultativeOffsetHue</string>
	<key>relationalSwiftKind</key>
	<string>operationContainContext</string>
</dict>
</plist>
