<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperLayerScale</key>
	<string>buttonUntilParam</string>
	<key>localizationAtBridge</key>
	<string>storeBesideLevel</string>
	<key>taskDuringCycle</key>
	<string>navigatorValueName</string>
</dict>
</plist>
