<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCycleOrientation</key>
	<string>semanticModelTag</string>
	<key>asynchronousSubpixelPosition</key>
	<string>gradientInMethod</string>
	<key>directCubitFlags</key>
	<string>mediaqueryActivityCoord</string>
	<key>imperativeExponentSize</key>
	<string>rapidServiceVelocity</string>
	<key>inheritedGesturedetectorInteraction</key>
	<string>futureCommandScale</string>
	<key>sortedExceptionOrientation</key>
	<string>imageCycleTransparency</string>
</dict>
</plist>
