<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintInNumber</key>
	<string>coordinatorOrType</string>
	<key>coordinatorLevelVelocity</key>
	<string>tappableParticleHead</string>
	<key>immediateProtocolDirection</key>
	<string>lossNumberOrigin</string>
	<key>matrixStyleContrast</key>
	<string>handlerFlyweightRight</string>
	<key>publicHistogramOffset</key>
	<string>multiplicationOutsideInterpreter</string>
	<key>roleWorkRate</key>
	<string>activatedHeroLocation</string>
	<key>seamlessIsolateOrientation</key>
	<string>injectionDecoratorLocation</string>
	<key>significantBorderPadding</key>
	<string>mediocreButtonFormat</string>
</dict>
</plist>
