<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAlongType</key>
	<string>positionPerProcess</string>
	<key>apertureExceptParam</key>
	<string>sceneAtState</string>
	<key>frameForAction</key>
	<string>transformerInterpreterForce</string>
	<key>graphicTempleAcceleration</key>
	<string>radioEnvironmentStatus</string>
	<key>intuitiveGraphicDelay</key>
	<string>factoryAgainstOperation</string>
	<key>navigationWithoutType</key>
	<string>constSpecifierMode</string>
	<key>observerTaskTail</key>
	<string>keyAsyncLeft</string>
	<key>routerAndMode</key>
	<string>durationFacadeDelay</string>
	<key>sensorExceptState</key>
	<string>handlerPlatformVelocity</string>
	<key>sensorFrameworkIndex</key>
	<string>aspectratioUntilFunction</string>
</dict>
</plist>
