<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultSceneBehavior</key>
	<string>viewStrategyPadding</string>
	<key>marginWithJob</key>
	<string>pivotalSwitchTension</string>
	<key>requestContainJob</key>
	<string>painterAndTier</string>
	<key>skinOfTemple</key>
	<string>sinkChainLeft</string>
	<key>stackDecoratorForce</key>
	<string>decorationAboutProxy</string>
	<key>timerDecoratorSize</key>
	<string>containerVisitorRate</string>
	<key>transformerTierVelocity</key>
	<string>tickerModeBottom</string>
	<key>zoneTierInset</key>
	<string>callbackContextShape</string>
</dict>
</plist>
