<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAsVisitor</key>
	<string>ignoredObserverTheme</string>
	<key>histogramVersusMediator</key>
	<string>synchronousCosineLocation</string>
	<key>lostInterfaceLocation</key>
	<string>mainOptimizerContrast</string>
	<key>serviceVariableVelocity</key>
	<string>movementParameterKind</string>
</dict>
</plist>
