<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyAspectratioColor</key>
	<string>baselineForForm</string>
	<key>exponentAsSystem</key>
	<string>sustainableUsecaseBrightness</string>
	<key>primaryNotificationFormat</key>
	<string>interpolationAwayState</string>
	<key>reactiveGrainDuration</key>
	<string>firstDelegateTag</string>
	<key>signatureJobContrast</key>
	<string>synchronousUsecaseTransparency</string>
	<key>subtleContainerType</key>
	<string>taskAroundMode</string>
	<key>usedGiftInset</key>
	<string>resizableGridColor</string>
	<key>widgetCompositeTop</key>
	<string>controllerIncludeScope</string>
</dict>
</plist>
