<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterKindSkewy</key>
	<string>fragmentPerParameter</string>
	<key>gesturedetectorOutsideVar</key>
	<string>protocolAsTask</string>
	<key>mediumParticleDistance</key>
	<string>entityBufferTransparency</string>
	<key>missionViaTier</key>
	<string>navigatorCommandCoord</string>
	<key>routeOutsideScope</key>
	<string>responseMethodTail</string>
	<key>semanticNodeSpeed</key>
	<string>singletonWithCommand</string>
</dict>
</plist>
