<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCallbackTransparency</key>
	<string>slashOutsideCycle</string>
	<key>commonCharacterMargin</key>
	<string>backwardResourceSpeed</string>
	<key>progressbarValueBottom</key>
	<string>ephemeralRequestDuration</string>
	<key>sinkSinceVisitor</key>
	<string>mobileOfShape</string>
	<key>stateFlyweightVisible</key>
	<string>concreteCurvePadding</string>
</dict>
</plist>
