<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionThroughWork</key>
	<string>constPetLeft</string>
	<key>ignoredBaselineRight</key>
	<string>fusedModulusSize</string>
	<key>invisibleDropdownbuttonHead</key>
	<string>completerWithStructure</string>
	<key>previewOrFacade</key>
	<string>specifySkinSaturation</string>
	<key>visibleCupertinoInset</key>
	<string>convolutionShapeScale</string>
</dict>
</plist>
