<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorThanSingleton</key>
	<string>mediaqueryModeBottom</string>
	<key>arithmeticSliderMomentum</key>
	<string>builderTaskSaturation</string>
	<key>aspectSincePrototype</key>
	<string>nodeCycleTransparency</string>
	<key>builderOutsideInterpreter</key>
	<string>sortedAlphaDensity</string>
	<key>currentLogCenter</key>
	<string>collectionAsVariable</string>
	<key>disabledResourceTint</key>
	<string>beginnerTextOrigin</string>
	<key>particleFrameworkDistance</key>
	<string>priorCurveSpeed</string>
	<key>resultFlyweightTag</key>
	<string>robustAnimationShape</string>
	<key>signThanVar</key>
	<string>greatStateShade</string>
</dict>
</plist>
