<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSincePattern</key>
	<string>modelBufferDepth</string>
	<key>capsuleObserverStyle</key>
	<string>scaleSinceParam</string>
	<key>delegateCycleAlignment</key>
	<string>commandEnvironmentDistance</string>
	<key>enabledAnimationTint</key>
	<string>litePreviewFeedback</string>
	<key>immutableTangentStyle</key>
	<string>synchronousProjectPressure</string>
	<key>menuMediatorTag</key>
	<string>routeAmongPrototype</string>
</dict>
</plist>
