<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPhaseRate</key>
	<string>modulusAlongLayer</string>
	<key>coordinatorFlyweightDistance</key>
	<string>listenerJobOpacity</string>
	<key>deferredOffsetTail</key>
	<string>constraintThroughPlatform</string>
	<key>eventInsideValue</key>
	<string>deferredLayoutIndex</string>
	<key>nativeApertureCoord</key>
	<string>plateMediatorContrast</string>
	<key>relationalAnimationLocation</key>
	<string>controllerVarStatus</string>
</dict>
</plist>
