<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAxisFormat</key>
	<string>taskExceptProxy</string>
	<key>finalCurveScale</key>
	<string>gateCommandHead</string>
	<key>modalNearFunction</key>
	<string>baselineParamTension</string>
	<key>reducerWithoutStructure</key>
	<string>pageviewInsideTemple</string>
	<key>relationalAwaitTheme</key>
	<string>primaryRadioHead</string>
	<key>resizableMethodInteraction</key>
	<string>toolWithTemple</string>
	<key>taskParamState</key>
	<string>inheritedAnimatedcontainerTail</string>
	<key>topicThroughState</key>
	<string>firstEffectOpacity</string>
</dict>
</plist>
