<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSliderDensity</key>
	<string>smartUnaryBound</string>
	<key>groupBufferCoord</key>
	<string>accessoryActionRate</string>
	<key>resilientNavigationValidation</key>
	<string>aspectVersusTask</string>
	<key>storageViaPlatform</key>
	<string>previewWithContext</string>
	<key>storyboardTempleStyle</key>
	<string>secondCommandScale</string>
	<key>textIncludeNumber</key>
	<string>assetCompositeAcceleration</string>
	<key>variantPatternRight</key>
	<string>normCompositeFormat</string>
</dict>
</plist>
