<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSpecifierOffset</key>
	<string>flexibleRoutePadding</string>
	<key>graphWithoutOperation</key>
	<string>delicateWidgetBottom</string>
	<key>ignoredCurveMomentum</key>
	<string>textureIncludeNumber</string>
	<key>playbackAtFlyweight</key>
	<string>dependencyWithoutMediator</string>
	<key>resizableGraphContrast</key>
	<string>expandedOutsideNumber</string>
	<key>richtextViaProcess</key>
	<string>baseOutsideState</string>
	<key>transformerBeyondContext</key>
	<string>providerAndPhase</string>
</dict>
</plist>
