<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCurveSpeed</key>
	<string>singletonOutsideTask</string>
	<key>bufferPerWork</key>
	<string>assetOutsideVar</string>
	<key>captionSystemAlignment</key>
	<string>vectorLayerLeft</string>
	<key>discardedAsyncVisibility</key>
	<string>queueOperationCount</string>
	<key>featureAgainstNumber</key>
	<string>radiusOfMediator</string>
	<key>priorBoxName</key>
	<string>giftPerVariable</string>
	<key>routeAtPlatform</key>
	<string>axisPrototypeStatus</string>
	<key>spriteTierEdge</key>
	<string>localScenePressure</string>
	<key>transitionActionValidation</key>
	<string>utilScopeSaturation</string>
</dict>
</plist>
