<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarJobSize</key>
	<string>variantFlyweightCoord</string>
	<key>materialQueryAcceleration</key>
	<string>instructionOrActivity</string>
	<key>primaryCycleState</key>
	<string>boxViaNumber</string>
	<key>segueWithFunction</key>
	<string>modulusActivityBorder</string>
</dict>
</plist>
