<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationWithParameter</key>
	<string>adaptiveSegueValidation</string>
	<key>logActionTail</key>
	<string>symbolOrMemento</string>
	<key>marginLayerAlignment</key>
	<string>roleAndParam</string>
	<key>materialViaValue</key>
	<string>lazyTablePressure</string>
	<key>responseSinceStage</key>
	<string>behaviorAtFunction</string>
	<key>semanticStoreBound</key>
	<string>statelessAxisIndex</string>
	<key>statelessPlaybackScale</key>
	<string>storageValueFlags</string>
</dict>
</plist>
