<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitIncludePrototype</key>
	<string>mediaqueryPerOperation</string>
	<key>curveThroughVar</key>
	<string>graphPrototypeStyle</string>
	<key>gramPlatformPosition</key>
	<string>radioUntilParameter</string>
	<key>pivotalBuilderBorder</key>
	<string>widgetSinceBuffer</string>
	<key>richtextBeyondComposite</key>
	<string>skinFacadeLeft</string>
</dict>
</plist>
