<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMetadataBorder</key>
	<string>disparateAccessoryTop</string>
	<key>exponentForSingleton</key>
	<string>localizationMediatorTag</string>
	<key>geometricSymbolName</key>
	<string>isolateTypeMomentum</string>
	<key>logarithmThanLayer</key>
	<string>largeFutureState</string>
	<key>protectedGestureDistance</key>
	<string>sophisticatedParticleShade</string>
</dict>
</plist>
