<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLayerOpacity</key>
	<string>subscriptionValueKind</string>
	<key>blocActionDirection</key>
	<string>shaderUntilVariable</string>
	<key>comprehensiveLayoutFlags</key>
	<string>resolverBesideShape</string>
	<key>durationChainDensity</key>
	<string>metadataShapeVisible</string>
	<key>eagerChannelName</key>
	<string>intensityDespitePattern</string>
	<key>effectAgainstFlyweight</key>
	<string>substantialAsyncDensity</string>
	<key>spriteDuringForm</key>
	<string>painterOfComposite</string>
	<key>statefulBufferFormat</key>
	<string>titleValueState</string>
	<key>textByFunction</key>
	<string>requestSystemSaturation</string>
	<key>textfieldAwayFramework</key>
	<string>sizeByFunction</string>
</dict>
</plist>
