<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matrixInsidePattern</key>
	<string>missionAwayProcess</string>
	<key>notifierByParam</key>
	<string>criticalConsumerCenter</string>
	<key>operationAmongNumber</key>
	<string>taskNearStyle</string>
	<key>rapidCertificatePadding</key>
	<string>equipmentAndBridge</string>
	<key>sizedboxCompositeTransparency</key>
	<string>exceptionIncludeParam</string>
	<key>storeWithoutVisitor</key>
	<string>requestSingletonDelay</string>
</dict>
</plist>
