<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBorderIndex</key>
	<string>desktopSingletonColor</string>
	<key>boxContextVisibility</key>
	<string>transitionMediatorDistance</string>
	<key>listenerMediatorType</key>
	<string>animatedGemSpeed</string>
	<key>metadataThanInterpreter</key>
	<string>basicTextureColor</string>
	<key>nextLossTheme</key>
	<string>prismaticGrainRight</string>
	<key>positionMementoIndex</key>
	<string>offsetOperationVelocity</string>
</dict>
</plist>
