<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemStateValidation</key>
	<string>requiredGramHead</string>
	<key>layoutContainAdapter</key>
	<string>constBulletSpeed</string>
	<key>subscriptionActivityRight</key>
	<string>featureShapeAppearance</string>
</dict>
</plist>
