<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCommandRotation</key>
	<string>mediocreRadiusRate</string>
	<key>disabledBoxMomentum</key>
	<string>similarReducerTail</string>
	<key>labelCommandStyle</key>
	<string>toolBufferAlignment</string>
	<key>particleAwayStyle</key>
	<string>basicCapacitiesCoord</string>
	<key>synchronousNodeRight</key>
	<string>clipperProcessResponse</string>
	<key>threadObserverSize</key>
	<string>builderScopeDirection</string>
</dict>
</plist>
