<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetTypeOffset</key>
	<string>layerCompositeBound</string>
	<key>awaitSinceShape</key>
	<string>temporaryPainterTint</string>
	<key>coordinatorExceptWork</key>
	<string>interactorPrototypeDuration</string>
	<key>mobileLevelVisibility</key>
	<string>rapidCompositionVisible</string>
	<key>sophisticatedSineBottom</key>
	<string>alphaCompositeOpacity</string>
</dict>
</plist>
