<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleSystemMargin</key>
	<string>priorStackBrightness</string>
	<key>mapMediatorMargin</key>
	<string>isolateThroughProxy</string>
	<key>mediumColumnState</key>
	<string>delegateWithVar</string>
	<key>scrollPrototypeSize</key>
	<string>navigationProcessSkewy</string>
</dict>
</plist>
