<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedChapterStatus</key>
	<string>substantialChapterContrast</string>
	<key>decorationShapeTop</key>
	<string>finalSpriteInset</string>
	<key>publicSwitchMomentum</key>
	<string>completerTempleTension</string>
	<key>similarRectStyle</key>
	<string>menuMediatorTag</string>
	<key>sinkKindInteraction</key>
	<string>interactorStyleAcceleration</string>
	<key>stateLayerMode</key>
	<string>errorContainMode</string>
	<key>typicalGridviewLocation</key>
	<string>layerOperationInterval</string>
</dict>
</plist>
