<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleSinceParam</key>
	<string>sinkBesideVisitor</string>
	<key>difficultDependencyRate</key>
	<string>accessoryEnvironmentBottom</string>
	<key>indicatorFlyweightSpacing</key>
	<string>cubitFrameworkInset</string>
	<key>localMatrixLeft</key>
	<string>timerUntilMethod</string>
	<key>primaryConstraintLocation</key>
	<string>stateScopeRotation</string>
	<key>reducerForAdapter</key>
	<string>loopNumberKind</string>
	<key>semanticInterfaceResponse</key>
	<string>skirtVarType</string>
</dict>
</plist>
