<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineLikeDecorator</key>
	<string>resultVisitorVisible</string>
	<key>capacitiesInterpreterSkewy</key>
	<string>stackTierStyle</string>
	<key>channelsInsidePlatform</key>
	<string>stateAndSingleton</string>
	<key>checklistContainFacade</key>
	<string>responseBeyondType</string>
	<key>ephemeralSymbolTail</key>
	<string>featureContextForce</string>
	<key>fixedTransitionOrigin</key>
	<string>groupModeSpacing</string>
	<key>robustSingletonLocation</key>
	<string>tweenSingletonOrigin</string>
	<key>subtleViewHead</key>
	<string>textureModePosition</string>
</dict>
</plist>
