<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDecorationBrightness</key>
	<string>rectForTask</string>
	<key>grainWithMethod</key>
	<string>coordinatorCommandIndex</string>
	<key>lostEffectTint</key>
	<string>parallelParticleHead</string>
	<key>textInVisitor</key>
	<string>rapidButtonShape</string>
	<key>titleSingletonState</key>
	<string>custompaintAndChain</string>
	<key>usageInsideMethod</key>
	<string>subscriptionAwayTemple</string>
</dict>
</plist>
