<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFrameworkScale</key>
	<string>themeFlyweightEdge</string>
	<key>basicCompositionBottom</key>
	<string>usageDuringTemple</string>
	<key>criticalCursorState</key>
	<string>routerAlongComposite</string>
	<key>hashWithoutStrategy</key>
	<string>memberTypeScale</string>
	<key>isolateOrVar</key>
	<string>inheritedTangentOpacity</string>
	<key>prismaticVectorStyle</key>
	<string>discardedProjectionCenter</string>
	<key>rectOrCommand</key>
	<string>tensorMonsterSkewx</string>
	<key>sceneContextFrequency</key>
	<string>injectionPhaseDepth</string>
	<key>sizeTempleTint</key>
	<string>coordinatorCompositeInterval</string>
	<key>unaryFlyweightMargin</key>
	<string>collectionChainBorder</string>
</dict>
</plist>
