<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoAllocatorFlags</key>
	<string>sizeCommandTension</string>
	<key>capacitiesForStyle</key>
	<string>textfieldVariableBrightness</string>
	<key>displayableStateBehavior</key>
	<string>bufferThroughSingleton</string>
	<key>grainWithLevel</key>
	<string>tickerVarDensity</string>
	<key>hyperbolicTaskName</key>
	<string>newestAsyncVisible</string>
	<key>invisibleListviewRight</key>
	<string>gestureContextTail</string>
	<key>navigatorOutsideValue</key>
	<string>loopMethodVelocity</string>
	<key>nodeAroundMode</key>
	<string>independentOverlayScale</string>
	<key>routerUntilEnvironment</key>
	<string>similarRadiusVisibility</string>
	<key>sizeInParam</key>
	<string>uniformGrainForce</string>
</dict>
</plist>
