<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchBridgeMargin</key>
	<string>enabledPopupCenter</string>
	<key>blocNearStyle</key>
	<string>asynchronousObserverLocation</string>
	<key>futureDuringTier</key>
	<string>cacheInsideTemple</string>
	<key>parallelResponseMode</key>
	<string>channelsOutsideAction</string>
	<key>presenterInsideFacade</key>
	<string>sustainableStreamSize</string>
	<key>repositoryActivityVisible</key>
	<string>mediaCycleKind</string>
</dict>
</plist>
