<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedInjectionRate</key>
	<string>statelessTempleTint</string>
	<key>aspectratioSinceAdapter</key>
	<string>requiredDescriptionTag</string>
	<key>gridProcessBrightness</key>
	<string>gramProxyFrequency</string>
	<key>immediateSliderLocation</key>
	<string>sortedBoxshadowVisible</string>
	<key>nodeExceptJob</key>
	<string>factoryInJob</string>
	<key>standaloneRadioType</key>
	<string>parallelCubitOrigin</string>
</dict>
</plist>
