<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardRiverpodFeedback</key>
	<string>intuitiveRectVisibility</string>
	<key>listviewVarSaturation</key>
	<string>equipmentByMemento</string>
	<key>methodUntilContext</key>
	<string>primaryResolverTop</string>
	<key>momentumActionAcceleration</key>
	<string>decorationNearMemento</string>
	<key>offsetParameterDirection</key>
	<string>reactiveOffsetOpacity</string>
	<key>petLikeStyle</key>
	<string>convolutionStructureKind</string>
	<key>semanticExceptionRate</key>
	<string>cartesianMenuSpacing</string>
	<key>spineMediatorOrientation</key>
	<string>globalCosineDistance</string>
	<key>usecaseMementoVelocity</key>
	<string>singleCubitType</string>
</dict>
</plist>
