<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackDecoratorOrientation</key>
	<string>futureMediatorKind</string>
	<key>cellWithoutState</key>
	<string>configurationStrategyFeedback</string>
	<key>compositionPrototypeBrightness</key>
	<string>modulusFrameworkPressure</string>
	<key>constraintLayerInterval</key>
	<string>rectPhaseOrientation</string>
	<key>descriptionAmongDecorator</key>
	<string>radioStructureVelocity</string>
	<key>iterativeCoordinatorType</key>
	<string>temporarySegueForce</string>
	<key>previewObserverScale</key>
	<string>convolutionCommandShape</string>
	<key>remainderEnvironmentType</key>
	<string>denseCellMargin</string>
	<key>textObserverContrast</key>
	<string>reducerChainMargin</string>
	<key>transformerInShape</key>
	<string>graphicInterpreterPressure</string>
</dict>
</plist>
