<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseTaskTail</key>
	<string>compositionalSizeFlags</string>
	<key>customizedRadiusSpeed</key>
	<string>buttonSincePrototype</string>
	<key>discardedWidgetColor</key>
	<string>canvasActivityEdge</string>
	<key>grayscaleBesideOperation</key>
	<string>storageWorkRight</string>
	<key>handlerActivityCount</key>
	<string>asyncAboutNumber</string>
	<key>intuitiveFutureVisibility</key>
	<string>customizedDelegateContrast</string>
	<key>prismaticTextureDirection</key>
	<string>allocatorInsideProxy</string>
	<key>requestOutsideCycle</key>
	<string>spriteLikeDecorator</string>
	<key>singleIsolatePressure</key>
	<string>themeDecoratorRight</string>
	<key>usecaseDuringState</key>
	<string>retainedMetadataColor</string>
</dict>
</plist>
