<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongStrategy</key>
	<string>particleTypePressure</string>
	<key>cursorValueDirection</key>
	<string>swiftParamFormat</string>
	<key>curveStrategyTension</key>
	<string>transformerOutsideChain</string>
	<key>decorationStageRate</key>
	<string>directlyCosineAcceleration</string>
	<key>displayableCommandHue</key>
	<string>buttonMediatorVisibility</string>
	<key>explicitMovementContrast</key>
	<string>touchStyleHead</string>
	<key>kernelObserverLocation</key>
	<string>switchAndComposite</string>
	<key>loopStrategyOrientation</key>
	<string>errorAwayFunction</string>
	<key>textfieldPerAction</key>
	<string>commonCallbackCoord</string>
</dict>
</plist>
