<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customContainerIndex</key>
	<string>originalBoxshadowTag</string>
	<key>entropyDecoratorFrequency</key>
	<string>unsortedRectInteraction</string>
	<key>inkwellSystemPressure</key>
	<string>channelBeyondMediator</string>
	<key>iterativeMediaLeft</key>
	<string>gemWorkSkewx</string>
	<key>publicAnchorDuration</key>
	<string>lastProfileFeedback</string>
	<key>resourceVersusPrototype</key>
	<string>resultPlatformForce</string>
	<key>reusableRowStyle</key>
	<string>cartesianOptimizerVisible</string>
	<key>sessionAtLevel</key>
	<string>slashContextLocation</string>
	<key>usecaseShapeTail</key>
	<string>pageviewBesideChain</string>
	<key>zoneAsState</key>
	<string>sequentialHeapMargin</string>
</dict>
</plist>
