<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderPerShape</key>
	<string>threadAlongLayer</string>
	<key>navigatorBufferPressure</key>
	<string>monsterPhaseName</string>
	<key>progressbarPerWork</key>
	<string>menuInsideActivity</string>
	<key>segmentFunctionInteraction</key>
	<string>statelessPresenterMargin</string>
	<key>sineBufferVisible</key>
	<string>localCardPosition</string>
	<key>storeOperationMode</key>
	<string>exponentBeyondContext</string>
	<key>tabbarSinceContext</key>
	<string>synchronousMediaqueryEdge</string>
</dict>
</plist>
