<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectLikeShape</key>
	<string>modelDecoratorFormat</string>
	<key>eagerRowValidation</key>
	<string>decorationWorkOrigin</string>
	<key>interfaceProxyDuration</key>
	<string>draggableRouteSkewy</string>
	<key>secondRowCoord</key>
	<string>textWorkPadding</string>
	<key>timerActivityMode</key>
	<string>groupByType</string>
</dict>
</plist>
