<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAwayBuffer</key>
	<string>frameTemplePosition</string>
	<key>cubitInNumber</key>
	<string>usedCubitContrast</string>
	<key>hardGridTint</key>
	<string>decorationInterpreterTint</string>
	<key>mainPrecisionMomentum</key>
	<string>imageOutsideWork</string>
</dict>
</plist>
