<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseThroughMode</key>
	<string>arithmeticFromPhase</string>
	<key>bulletUntilSingleton</key>
	<string>labelMethodLocation</string>
	<key>greatSignatureSkewx</key>
	<string>customLoopMomentum</string>
	<key>nextParticleDuration</key>
	<string>gesturedetectorThroughChain</string>
	<key>normalRemainderFlags</key>
	<string>interactiveTouchVisible</string>
	<key>resilientGrainForce</key>
	<string>documentContainContext</string>
	<key>responseVisitorDirection</key>
	<string>basicGroupHue</string>
	<key>singleAxisDirection</key>
	<string>substantialGradientShape</string>
	<key>tangentStageTension</key>
	<string>mobileByVar</string>
	<key>transitionThroughFramework</key>
	<string>spriteAroundVar</string>
</dict>
</plist>
