<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyScaffoldShade</key>
	<string>iconModeSpeed</string>
	<key>monsterStageSpeed</key>
	<string>precisionAtProcess</string>
	<key>normStateName</key>
	<string>viewShapeOrientation</string>
	<key>zoneThanVisitor</key>
	<string>tickerOrComposite</string>
</dict>
</plist>
