<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRectType</key>
	<string>eagerPlateDistance</string>
	<key>aspectVariableCenter</key>
	<string>textureProxyDistance</string>
	<key>boxPlatformResponse</key>
	<string>imageParameterAcceleration</string>
	<key>dropdownbuttonExceptWork</key>
	<string>relationalAlertSpacing</string>
	<key>menuStructureContrast</key>
	<string>timerWorkValidation</string>
	<key>sizedboxForTask</key>
	<string>activeDecorationSkewx</string>
	<key>tickerAboutTask</key>
	<string>seamlessSpineTint</string>
</dict>
</plist>
