<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsDuringStructure</key>
	<string>providerEnvironmentFeedback</string>
	<key>dropdownbuttonUntilScope</key>
	<string>granularGrainVisible</string>
	<key>functionalProjectionName</key>
	<string>heroScopeSpeed</string>
	<key>protectedRowBottom</key>
	<string>imperativeAspectShade</string>
	<key>standaloneActionPosition</key>
	<string>contractionInTemple</string>
</dict>
</plist>
