<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteStreamShade</key>
	<string>animationPerNumber</string>
	<key>effectPatternInteraction</key>
	<string>interpolationVariableDirection</string>
	<key>equipmentWithTier</key>
	<string>tabviewKindForce</string>
	<key>typicalCoordinatorIndex</key>
	<string>stepSystemHue</string>
</dict>
</plist>
