<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAwayStage</key>
	<string>heroWithDecorator</string>
	<key>interfaceIncludeJob</key>
	<string>sliderTierDirection</string>
	<key>matrixFromMemento</key>
	<string>entityFunctionBottom</string>
	<key>webDurationMomentum</key>
	<string>concreteMobxIndex</string>
</dict>
</plist>
