<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridOrVariable</key>
	<string>lastUtilName</string>
	<key>segmentFrameworkCount</key>
	<string>completerWithShape</string>
	<key>timerExceptStructure</key>
	<string>managerAtStyle</string>
</dict>
</plist>
