<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCapsuleContrast</key>
	<string>functionalDependencyBrightness</string>
	<key>futureActionVisibility</key>
	<string>pinchableKernelTension</string>
	<key>mainTernaryAppearance</key>
	<string>utilWithoutSystem</string>
</dict>
</plist>
