<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapPlatformCoord</key>
	<string>textureInObserver</string>
	<key>matrixAdapterOpacity</key>
	<string>temporaryRouteRight</string>
	<key>mobilePositionAcceleration</key>
	<string>serviceStageOpacity</string>
	<key>prismaticImageEdge</key>
	<string>controllerViaLayer</string>
	<key>tableTierTransparency</key>
	<string>logarithmOrActivity</string>
	<key>textStateVelocity</key>
	<string>retainedOperationTransparency</string>
	<key>viewLikePlatform</key>
	<string>prevSinkHead</string>
</dict>
</plist>
