<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteDrawerCenter</key>
	<string>mainUsageShape</string>
	<key>directEqualizationDensity</key>
	<string>optionWithParam</string>
	<key>geometricMusicName</key>
	<string>collectionPlatformFrequency</string>
	<key>handlerStrategyRight</key>
	<string>disabledToolIndex</string>
	<key>pivotalButtonTop</key>
	<string>extensionAdapterShape</string>
	<key>respectiveButtonTheme</key>
	<string>variantContextMargin</string>
	<key>stampPerProcess</key>
	<string>animationLikeVar</string>
	<key>tappableConstraintMargin</key>
	<string>mutableViewResponse</string>
</dict>
</plist>
