<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCollectionContrast</key>
	<string>litePainterCount</string>
	<key>accordionHandlerName</key>
	<string>gradientOrInterpreter</string>
	<key>groupMementoRate</key>
	<string>keyDialogsRotation</string>
	<key>intensityIncludeBridge</key>
	<string>movementStageLeft</string>
	<key>navigatorAndSingleton</key>
	<string>originalSizeVelocity</string>
	<key>navigatorStageFeedback</key>
	<string>basicQueueAcceleration</string>
	<key>similarOptionFrequency</key>
	<string>gridThanSystem</string>
	<key>sliderKindShape</key>
	<string>globalGemSpeed</string>
	<key>stampTypeCenter</key>
	<string>resolverWithoutInterpreter</string>
</dict>
</plist>
