<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTweenSaturation</key>
	<string>modelTaskPressure</string>
	<key>gridStageKind</key>
	<string>dedicatedCompositionMargin</string>
	<key>gridviewSingletonDuration</key>
	<string>constCapsuleBound</string>
	<key>lossDuringSystem</key>
	<string>errorTaskFeedback</string>
	<key>managerWorkSkewy</key>
	<string>geometricLabelDuration</string>
	<key>observerPhaseOffset</key>
	<string>spotStateTransparency</string>
	<key>responseAlongInterpreter</key>
	<string>hyperbolicMatrixSkewx</string>
	<key>seamlessResponseContrast</key>
	<string>coordinatorInVar</string>
</dict>
</plist>
