<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSineSize</key>
	<string>mobileGrainTail</string>
	<key>intermediateAspectType</key>
	<string>webSegmentSpeed</string>
	<key>plateAsStrategy</key>
	<string>relationalAxisTail</string>
	<key>zoneDuringInterpreter</key>
	<string>subscriptionEnvironmentMargin</string>
</dict>
</plist>
