<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellFrameworkTag</key>
	<string>resilientGestureHue</string>
	<key>imperativeTitleIndex</key>
	<string>reducerStrategyRotation</string>
	<key>resolverCommandKind</key>
	<string>decorationAtLayer</string>
	<key>respectiveErrorLocation</key>
	<string>textureParameterCenter</string>
	<key>unsortedLoopMode</key>
	<string>columnExceptStyle</string>
</dict>
</plist>
