<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAsType</key>
	<string>statefulAspectBehavior</string>
	<key>configurationNumberSize</key>
	<string>documentBesideForm</string>
	<key>mapExceptKind</key>
	<string>methodFrameworkSize</string>
	<key>skirtLikeFramework</key>
	<string>pinchableScaffoldLeft</string>
</dict>
</plist>
