<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedEffectHue</key>
	<string>primaryLabelAlignment</string>
	<key>advancedReferenceAppearance</key>
	<string>workflowOutsideVariable</string>
	<key>boxTypeMargin</key>
	<string>hashAlongWork</string>
	<key>customizedPopupSpeed</key>
	<string>compositionalSizedboxPosition</string>
	<key>expandedInsideProcess</key>
	<string>typicalDialogsTension</string>
	<key>mutableTweenVelocity</key>
	<string>alignmentVersusVisitor</string>
	<key>oldRadiusBorder</key>
	<string>navigationKindOffset</string>
	<key>priorityVisitorOrigin</key>
	<string>mediocreQueueFeedback</string>
</dict>
</plist>
