<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledUsecaseVisibility</key>
	<string>boxshadowBeyondActivity</string>
	<key>semanticIsolateSpeed</key>
	<string>delegateOperationTint</string>
	<key>touchAdapterCenter</key>
	<string>decorationAroundStrategy</string>
</dict>
</plist>
