<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAsTask</key>
	<string>responseCommandFlags</string>
	<key>composableRowTop</key>
	<string>storeVarBound</string>
	<key>constraintProxyResponse</key>
	<string>interactiveCatalystType</string>
	<key>nextSliderVisibility</key>
	<string>catalystActivityMargin</string>
	<key>radiusActivityStyle</key>
	<string>brushFlyweightTop</string>
	<key>segueVersusStage</key>
	<string>iconWithoutParameter</string>
	<key>sharedSpriteMomentum</key>
	<string>ternaryLayerKind</string>
	<key>streamAtCommand</key>
	<string>reducerInterpreterResponse</string>
	<key>transitionForOperation</key>
	<string>elasticPreviewLeft</string>
	<key>usageInsideWork</key>
	<string>independentGateRight</string>
</dict>
</plist>
