<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalMomentumBrightness</key>
	<string>nodeOutsideMethod</string>
	<key>isolateNumberFormat</key>
	<string>mediaFunctionValidation</string>
	<key>projectionFunctionBorder</key>
	<string>criticalInterfaceTail</string>
	<key>reductionStructureScale</key>
	<string>graphContainProxy</string>
	<key>singleChannelsPressure</key>
	<string>significantCanvasDelay</string>
	<key>usageVarVelocity</key>
	<string>presenterPatternLocation</string>
</dict>
</plist>
