<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseAnchorLeft</key>
	<string>responseInsidePrototype</string>
	<key>effectModeDuration</key>
	<string>zoneIncludeState</string>
	<key>ephemeralModalBehavior</key>
	<string>smallStoreMode</string>
	<key>navigatorDespiteType</key>
	<string>mobileStructureOrigin</string>
	<key>progressbarCompositeColor</key>
	<string>rowFormShape</string>
	<key>resourceThanForm</key>
	<string>synchronousBlocPressure</string>
	<key>screenDuringVariable</key>
	<string>mediaqueryAdapterTheme</string>
	<key>vectorIncludeFlyweight</key>
	<string>firstArithmeticCenter</string>
</dict>
</plist>
