<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanSignatureOpacity</key>
	<string>isolateKindTheme</string>
	<key>imperativeTextfieldVelocity</key>
	<string>asyncExceptParam</string>
	<key>inheritedBufferTint</key>
	<string>labelAndPhase</string>
	<key>utilKindContrast</key>
	<string>retainedResourceDirection</string>
</dict>
</plist>
