<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCallbackScale</key>
	<string>challengeActionState</string>
	<key>coordinatorOutsideFunction</key>
	<string>delicateTextfieldResponse</string>
	<key>effectStructureOrientation</key>
	<string>spotCompositeOrigin</string>
	<key>gateChainDistance</key>
	<string>permanentObserverValidation</string>
	<key>gridviewOutsideProcess</key>
	<string>offsetContextColor</string>
	<key>listenerTempleVisible</key>
	<string>masterOutsideOperation</string>
	<key>sceneStageShade</key>
	<string>statelessGridPosition</string>
</dict>
</plist>
