<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledHashFeedback</key>
	<string>rectNumberPosition</string>
	<key>futurePlatformScale</key>
	<string>gateProcessBehavior</string>
	<key>greatSceneTail</key>
	<string>transformerAtMemento</string>
	<key>localizationOrStrategy</key>
	<string>specifierAtStage</string>
	<key>oldEntropyTop</key>
	<string>animatedFragmentAlignment</string>
	<key>radiusWithContext</key>
	<string>displayablePaddingVisibility</string>
	<key>storyboardAwayTier</key>
	<string>chartValueCoord</string>
	<key>tickerBeyondFacade</key>
	<string>captionBeyondTask</string>
</dict>
</plist>
