<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileMusicState</key>
	<string>layerAmongAction</string>
	<key>cubitExceptPattern</key>
	<string>synchronousGraphRotation</string>
	<key>draggableRectHead</key>
	<string>labelFromMethod</string>
	<key>matrixDecoratorDelay</key>
	<string>entropyForAction</string>
	<key>petOperationBrightness</key>
	<string>scenePrototypeCount</string>
	<key>widgetLevelStatus</key>
	<string>synchronousEventStyle</string>
</dict>
</plist>
