<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicPerMethod</key>
	<string>firstNormRight</string>
	<key>methodTaskScale</key>
	<string>layoutPlatformShade</string>
	<key>signatureMediatorTop</key>
	<string>particleWithInterpreter</string>
</dict>
</plist>
