<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseInActivity</key>
	<string>projectionCycleName</string>
	<key>displayableLabelResponse</key>
	<string>singletonPhaseResponse</string>
	<key>labelAsStage</key>
	<string>concurrentEffectBound</string>
	<key>loopVarState</key>
	<string>nodeJobRate</string>
	<key>lostSliderFeedback</key>
	<string>curveProcessTag</string>
	<key>movementOrPrototype</key>
	<string>lossAwaySystem</string>
	<key>pinchableCubitInteraction</key>
	<string>chapterMementoScale</string>
	<key>radiusJobAlignment</key>
	<string>rapidParticleFormat</string>
	<key>slashCycleSpeed</key>
	<string>tweenMethodSkewx</string>
	<key>typicalConvolutionBrightness</key>
	<string>particleOrValue</string>
</dict>
</plist>
