<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedFlexResponse</key>
	<string>momentumStagePressure</string>
	<key>agileTickerVisibility</key>
	<string>callbackForScope</string>
	<key>animationLikeCommand</key>
	<string>decorationStyleVelocity</string>
	<key>capacitiesOrKind</key>
	<string>inactiveViewSkewy</string>
	<key>channelStructurePressure</key>
	<string>pivotalDurationAcceleration</string>
	<key>durationAroundProxy</key>
	<string>interfaceCommandTint</string>
</dict>
</plist>
