<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionWithFramework</key>
	<string>completerActivityDistance</string>
	<key>finalModelDirection</key>
	<string>visibleAwaitCenter</string>
	<key>iterativeBuilderShape</key>
	<string>disabledSubscriptionAlignment</string>
	<key>priorityViaActivity</key>
	<string>imageWorkKind</string>
	<key>similarBufferAppearance</key>
	<string>pointCycleBound</string>
</dict>
</plist>
