<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultAccessorySkewy</key>
	<string>timerVarTransparency</string>
	<key>finalParticleVisible</key>
	<string>independentIconFrequency</string>
	<key>immediateContainerValidation</key>
	<string>sharedEffectTail</string>
	<key>progressbarOutsideKind</key>
	<string>controllerSystemRight</string>
	<key>responsiveViewBrightness</key>
	<string>alphaPhaseMode</string>
	<key>reusableResourceBottom</key>
	<string>reusableDescriptorTail</string>
	<key>sustainableUtilBrightness</key>
	<string>alignmentAlongProxy</string>
	<key>synchronousConstraintDuration</key>
	<string>cartesianPopupDistance</string>
	<key>zoneIncludeWork</key>
	<string>fusedStateInteraction</string>
</dict>
</plist>
