<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartNearFacade</key>
	<string>themeContainNumber</string>
	<key>desktopDelegateLocation</key>
	<string>builderValueTag</string>
	<key>durationAlongBridge</key>
	<string>seamlessPresenterVisibility</string>
	<key>firstTransitionInset</key>
	<string>cupertinoTempleFlags</string>
	<key>lossVersusProxy</key>
	<string>interactiveNormSkewx</string>
	<key>modalAboutAdapter</key>
	<string>independentTextureContrast</string>
	<key>stackTaskAcceleration</key>
	<string>entityExceptMediator</string>
	<key>symmetricRequestHue</key>
	<string>screenVersusValue</string>
	<key>uniformSkirtDensity</key>
	<string>notificationUntilStyle</string>
	<key>widgetFlyweightDuration</key>
	<string>pivotalMovementVelocity</string>
</dict>
</plist>
