<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAgainstBridge</key>
	<string>draggableSpineInterval</string>
	<key>frameAboutCycle</key>
	<string>taskNearOperation</string>
	<key>inheritedInterfacePressure</key>
	<string>nextLogarithmDepth</string>
	<key>paddingObserverInterval</key>
	<string>nodeLevelDepth</string>
	<key>pivotalCharacterShade</key>
	<string>bulletAtActivity</string>
	<key>retainedButtonDirection</key>
	<string>overlayPatternBound</string>
	<key>smallStepSkewx</key>
	<string>disparateMovementIndex</string>
	<key>smartTimerVisible</key>
	<string>responseFromEnvironment</string>
	<key>spotFrameworkIndex</key>
	<string>explicitPlateMode</string>
	<key>tweenTempleTheme</key>
	<string>errorTierCoord</string>
</dict>
</plist>
