<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAwayLevel</key>
	<string>resizableCustompaintVisible</string>
	<key>activityLayerStatus</key>
	<string>custompaintSystemDirection</string>
	<key>builderOfActivity</key>
	<string>protectedEntropyStyle</string>
	<key>inkwellAlongTemple</key>
	<string>stampVarDepth</string>
	<key>providerBeyondType</key>
	<string>cupertinoChainPressure</string>
	<key>scrollOperationMode</key>
	<string>textBeyondStrategy</string>
	<key>stepOrTask</key>
	<string>enabledSensorSpeed</string>
	<key>subtleAppbarRight</key>
	<string>notifierVersusContext</string>
	<key>synchronousSpineVelocity</key>
	<string>imperativeHistogramPosition</string>
</dict>
</plist>
