<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSliderShade</key>
	<string>similarSkinPressure</string>
	<key>multiLocalizationStatus</key>
	<string>flexibleDialogsBrightness</string>
	<key>referenceAwayParameter</key>
	<string>seamlessModelTop</string>
</dict>
</plist>
