<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaSinceState</key>
	<string>rectAroundNumber</string>
	<key>entityJobHue</key>
	<string>mediaqueryByComposite</string>
	<key>liteVectorInterval</key>
	<string>cubitTypeLocation</string>
	<key>materialDurationShade</key>
	<string>capacitiesOfSingleton</string>
	<key>mediaThroughTier</key>
	<string>constraintPerShape</string>
	<key>navigatorTempleStyle</key>
	<string>asyncBehaviorOpacity</string>
	<key>sceneLikeVariable</key>
	<string>liteBufferBottom</string>
	<key>ternaryVersusEnvironment</key>
	<string>mediumUtilBorder</string>
	<key>topicOrAdapter</key>
	<string>optimizerProcessBottom</string>
</dict>
</plist>
