<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisJobOrigin</key>
	<string>agilePreviewBorder</string>
	<key>chartAdapterShape</key>
	<string>priorRectSaturation</string>
	<key>crudeBorderDistance</key>
	<string>durationTierFrequency</string>
	<key>interactorFormLocation</key>
	<string>segueMediatorLocation</string>
</dict>
</plist>
