<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStreamLocation</key>
	<string>desktopTimerRotation</string>
	<key>elasticGridviewSkewx</key>
	<string>dedicatedTextureBrightness</string>
	<key>hierarchicalEffectDuration</key>
	<string>blocUntilFacade</string>
	<key>radioThroughProcess</key>
	<string>queryPrototypeDepth</string>
	<key>repositoryOrVar</key>
	<string>queuePrototypeFlags</string>
	<key>statelessReductionState</key>
	<string>presenterBridgeBound</string>
</dict>
</plist>
