<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianOptionLocation</key>
	<string>allocatorInParam</string>
	<key>explicitViewStatus</key>
	<string>segueModeSkewx</string>
	<key>getxInsideCycle</key>
	<string>interpolationActionCount</string>
	<key>greatModelResponse</key>
	<string>rowParamOpacity</string>
	<key>gridCompositeTransparency</key>
	<string>dialogsContainComposite</string>
	<key>groupNumberStatus</key>
	<string>actionOrFlyweight</string>
	<key>materialGateDistance</key>
	<string>transformerSinceParam</string>
	<key>parallelCustompaintFlags</key>
	<string>difficultSpriteSkewx</string>
	<key>resultDuringTemple</key>
	<string>greatLayerCoord</string>
	<key>routeBesideParam</key>
	<string>transitionAboutSingleton</string>
</dict>
</plist>
