<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentAccessorySpeed</key>
	<string>techniqueParamRotation</string>
	<key>layerAndPlatform</key>
	<string>actionExceptState</string>
	<key>threadAgainstDecorator</key>
	<string>topicParamCoord</string>
	<key>visibleTransformerFrequency</key>
	<string>spineInShape</string>
</dict>
</plist>
