<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionStructureInset</key>
	<string>decorationPhaseTail</string>
	<key>flexTierFrequency</key>
	<string>criticalParticleShade</string>
	<key>nodePhaseHead</key>
	<string>subsequentPetName</string>
	<key>prevListviewDelay</key>
	<string>equalizationBeyondInterpreter</string>
	<key>viewProxyPadding</key>
	<string>errorAroundStructure</string>
	<key>webChapterOrientation</key>
	<string>gramTypeVisibility</string>
</dict>
</plist>
