<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOfParam</key>
	<string>opaqueReferenceShape</string>
	<key>directlyCompletionCoord</key>
	<string>delegateByProcess</string>
	<key>gateFacadeSkewy</key>
	<string>coordinatorAmongVariable</string>
	<key>geometricListenerHead</key>
	<string>autoNavigatorMode</string>
	<key>giftSinceContext</key>
	<string>subscriptionStyleForce</string>
	<key>rapidSwitchInset</key>
	<string>arithmeticAgainstOperation</string>
	<key>storyboardVarShape</key>
	<string>durationOutsideCycle</string>
	<key>timerVersusMode</key>
	<string>invisibleShaderMargin</string>
</dict>
</plist>
