<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxInsideObserver</key>
	<string>tableVersusInterpreter</string>
	<key>descriptorStageAcceleration</key>
	<string>immutableDecorationMargin</string>
	<key>eventViaInterpreter</key>
	<string>materialCaptionInteraction</string>
	<key>inheritedTitleTransparency</key>
	<string>consultativeGestureOpacity</string>
	<key>previewChainAcceleration</key>
	<string>similarApertureTheme</string>
</dict>
</plist>
