<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionCommandLeft</key>
	<string>interpolationDuringVariable</string>
	<key>topicLikeSystem</key>
	<string>liteServiceVisibility</string>
	<key>utilWithMemento</key>
	<string>permanentEquipmentSkewx</string>
	<key>vectorChainLeft</key>
	<string>futureForLevel</string>
</dict>
</plist>
