<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureCycleBorder</key>
	<string>builderFacadeState</string>
	<key>backwardLogarithmEdge</key>
	<string>resourceLikeComposite</string>
	<key>constCustompaintPosition</key>
	<string>cycleFunctionVisibility</string>
	<key>disparateSwitchHead</key>
	<string>optimizerObserverContrast</string>
	<key>permanentObserverBehavior</key>
	<string>toolAndActivity</string>
	<key>resourceDuringType</key>
	<string>queueTempleType</string>
	<key>routerBesideJob</key>
	<string>progressbarTaskDuration</string>
	<key>smallColumnPressure</key>
	<string>intermediateInjectionScale</string>
</dict>
</plist>
