<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInsideBridge</key>
	<string>subsequentRoleStyle</string>
	<key>coordinatorIncludeParam</key>
	<string>contractionBufferTint</string>
	<key>displayableRouterSaturation</key>
	<string>histogramMethodDelay</string>
	<key>entityParamSkewx</key>
	<string>bitratePhaseSpeed</string>
	<key>frameModeDensity</key>
	<string>skinAlongFlyweight</string>
	<key>paddingOutsideStage</key>
	<string>boxshadowNearBuffer</string>
	<key>permanentRouteFormat</key>
	<string>featureViaTemple</string>
	<key>precisionChainMode</key>
	<string>decorationExceptBuffer</string>
</dict>
</plist>
