<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorOutsideShape</key>
	<string>actionAwayProcess</string>
	<key>monsterVariableKind</key>
	<string>hierarchicalThemeSkewx</string>
	<key>nibBridgeOrigin</key>
	<string>responsiveConfigurationShade</string>
	<key>optimizerPhaseKind</key>
	<string>diversifiedSessionPressure</string>
	<key>skirtProcessStatus</key>
	<string>layoutCycleVisibility</string>
	<key>smallSubscriptionIndex</key>
	<string>decorationStrategyValidation</string>
</dict>
</plist>
