<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectKindTransparency</key>
	<string>storyboardThanValue</string>
	<key>directArithmeticState</key>
	<string>futureMementoName</string>
	<key>hyperbolicAssetKind</key>
	<string>widgetAroundProxy</string>
	<key>nativeSizeSkewx</key>
	<string>customTransitionDensity</string>
	<key>newestTopicFormat</key>
	<string>mediocreCurveTension</string>
</dict>
</plist>
