<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerPlatformVelocity</key>
	<string>localizationLevelBottom</string>
	<key>difficultSpecifierInterval</key>
	<string>grainPlatformSaturation</string>
	<key>injectionInsideProcess</key>
	<string>pivotalSliderTop</string>
	<key>movementLikeVariable</key>
	<string>bulletActionDelay</string>
	<key>protocolSinceVisitor</key>
	<string>largeContainerMargin</string>
	<key>providerPlatformCenter</key>
	<string>concreteTransitionTension</string>
	<key>titleAmongMethod</key>
	<string>interactiveClipperEdge</string>
</dict>
</plist>
