<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerInsideEnvironment</key>
	<string>robustDecorationAcceleration</string>
	<key>effectOfMediator</key>
	<string>animatedcontainerUntilVar</string>
	<key>prevSwiftLeft</key>
	<string>particleContainForm</string>
	<key>previewAwayScope</key>
	<string>providerForNumber</string>
	<key>retainedBaseStyle</key>
	<string>blocIncludeJob</string>
	<key>secondSpecifierLeft</key>
	<string>storageIncludeActivity</string>
	<key>segmentNumberIndex</key>
	<string>statefulParameterScale</string>
	<key>semanticTextureState</key>
	<string>statelessProtocolAppearance</string>
	<key>signatureActivityTag</key>
	<string>repositoryObserverScale</string>
	<key>stepLikeVar</key>
	<string>baselineAwayKind</string>
</dict>
</plist>
