<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTextureColor</key>
	<string>requiredResourceTension</string>
	<key>baselineBeyondDecorator</key>
	<string>progressbarShapeBorder</string>
	<key>boxFromForm</key>
	<string>tabbarIncludeMemento</string>
	<key>exponentChainBrightness</key>
	<string>navigatorTierAppearance</string>
	<key>groupAroundCycle</key>
	<string>offsetThroughPattern</string>
	<key>nodeFlyweightVelocity</key>
	<string>equipmentVersusJob</string>
	<key>originalAssetTail</key>
	<string>currentAnchorName</string>
</dict>
</plist>
