<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGiftPadding</key>
	<string>futureWithoutFlyweight</string>
	<key>layoutNearValue</key>
	<string>sinkAlongFacade</string>
	<key>shaderParameterTint</key>
	<string>immediateMultiplicationShape</string>
	<key>standaloneGridviewPressure</key>
	<string>commandPlatformFlags</string>
</dict>
</plist>
