<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePrecisionSaturation</key>
	<string>offsetFacadeName</string>
	<key>gramVarHead</key>
	<string>requestOrTier</string>
	<key>liteSymbolHue</key>
	<string>methodDecoratorShape</string>
	<key>statefulNumberDelay</key>
	<string>tangentOperationOpacity</string>
	<key>uniqueContractionInset</key>
	<string>blocModeVelocity</string>
</dict>
</plist>
