<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileResolverBorder</key>
	<string>resizableHandlerOffset</string>
	<key>delicatePlateStyle</key>
	<string>widgetAwayPattern</string>
	<key>localizationContextTint</key>
	<string>variantNearCycle</string>
	<key>nextQueryRight</key>
	<string>streamAmongSingleton</string>
	<key>responsiveSpineBottom</key>
	<string>basicMovementDepth</string>
	<key>singleKernelRotation</key>
	<string>positionMementoStyle</string>
	<key>uniqueSizeValidation</key>
	<string>asyncRequestFormat</string>
</dict>
</plist>
