<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liteMediaOrientation</key>
	<string>delegateVarStyle</string>
	<key>lossAwayVisitor</key>
	<string>stackStageBottom</string>
	<key>utilInsideTier</key>
	<string>handlerFormSkewx</string>
</dict>
</plist>
