<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorProcessForce</key>
	<string>transformerStructureCoord</string>
	<key>reductionAboutDecorator</key>
	<string>backwardSensorBound</string>
	<key>significantCustompaintAcceleration</key>
	<string>constraintWithoutVar</string>
	<key>utilOrProxy</key>
	<string>routerModeTag</string>
</dict>
</plist>
