<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRowMode</key>
	<string>protocolLikeInterpreter</string>
	<key>channelAsState</key>
	<string>similarIconCenter</string>
	<key>crucialSubscriptionBorder</key>
	<string>operationLikeParam</string>
	<key>greatBlocLeft</key>
	<string>diversifiedMenuFeedback</string>
	<key>permanentTaskName</key>
	<string>lastProjectionState</string>
	<key>signAgainstFacade</key>
	<string>handlerAlongJob</string>
	<key>tangentLayerRate</key>
	<string>signatureParamBrightness</string>
</dict>
</plist>
