<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandThanStructure</key>
	<string>callbackActivityPadding</string>
	<key>eventAgainstCycle</key>
	<string>swiftDuringPattern</string>
	<key>globalAllocatorShade</key>
	<string>callbackAwayVar</string>
	<key>intuitiveStateValidation</key>
	<string>materialAtProcess</string>
	<key>sliderTempleAcceleration</key>
	<string>decorationPerStructure</string>
</dict>
</plist>
