<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterOrInterpreter</key>
	<string>currentBlocHead</string>
	<key>containerOutsideTier</key>
	<string>nativeRemainderScale</string>
	<key>controllerUntilKind</key>
	<string>oldStreamVelocity</string>
	<key>immutablePageviewHead</key>
	<string>queueOutsideSystem</string>
	<key>localizationCommandEdge</key>
	<string>segmentViaKind</string>
	<key>nodeContextVisibility</key>
	<string>intuitiveScreenAlignment</string>
	<key>pinchableNotificationOpacity</key>
	<string>diversifiedHandlerCount</string>
	<key>stateCycleInset</key>
	<string>resolverAgainstSystem</string>
	<key>utilSinceMediator</key>
	<string>groupFacadeStyle</string>
</dict>
</plist>
