<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatorVariableOpacity</key>
	<string>durationNearFramework</string>
	<key>layerSystemBottom</key>
	<string>grainTierBottom</string>
	<key>logarithmAwayScope</key>
	<string>sceneVariableInterval</string>
	<key>mapParamName</key>
	<string>stackDuringFlyweight</string>
	<key>promisePlatformType</key>
	<string>lazyAssetLeft</string>
	<key>tappableProgressbarEdge</key>
	<string>dedicatedCallbackDensity</string>
</dict>
</plist>
