<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRichtextStatus</key>
	<string>symbolAwayContext</string>
	<key>completerFrameworkVelocity</key>
	<string>beginnerMobxTop</string>
	<key>controllerBridgeBottom</key>
	<string>constModelValidation</string>
	<key>lostBatchTransparency</key>
	<string>entityPrototypeValidation</string>
	<key>menuTaskTop</key>
	<string>compositionalContainerDuration</string>
	<key>positionedBridgeForce</key>
	<string>cosineFlyweightBrightness</string>
	<key>remainderThanForm</key>
	<string>progressbarAndInterpreter</string>
</dict>
</plist>
