<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocSinceMode</key>
	<string>intensityStateSpeed</string>
	<key>fixedObserverRotation</key>
	<string>spriteOperationTransparency</string>
	<key>intuitiveDelegateLocation</key>
	<string>subpixelFacadeCount</string>
	<key>memberActivityOrientation</key>
	<string>getxMethodKind</string>
	<key>spotLikeLayer</key>
	<string>subpixelScopeTop</string>
	<key>statePatternDelay</key>
	<string>slashFacadeShade</string>
	<key>subscriptionEnvironmentVisible</key>
	<string>missionStructureColor</string>
	<key>variantInDecorator</key>
	<string>liteChannelOpacity</string>
</dict>
</plist>
