<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableRadiusFormat</key>
	<string>instructionOutsideParameter</string>
	<key>currentFragmentKind</key>
	<string>documentFacadeBound</string>
	<key>directExpandedVisible</key>
	<string>commandPlatformTop</string>
	<key>gestureModeDirection</key>
	<string>offsetContainParam</string>
	<key>mediaForObserver</key>
	<string>denseModalBrightness</string>
	<key>projectionIncludeProxy</key>
	<string>gridBesideBridge</string>
	<key>responseStyleStatus</key>
	<string>easySingletonPressure</string>
	<key>usedExceptionPressure</key>
	<string>cosineShapeTag</string>
	<key>widgetVarTheme</key>
	<string>uniformGesturedetectorBrightness</string>
</dict>
</plist>
