<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateCompositeSaturation</key>
	<string>mediocreSymbolInset</string>
	<key>boxOutsideParameter</key>
	<string>nextPainterDistance</string>
	<key>effectAroundStyle</key>
	<string>dropdownbuttonShapeSpeed</string>
	<key>widgetLikeSingleton</key>
	<string>uniformRoleTail</string>
</dict>
</plist>
