<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutBesideCommand</key>
	<string>resultStrategyInset</string>
	<key>materialBitrateResponse</key>
	<string>stateTierSize</string>
	<key>newestFlexCount</key>
	<string>associatedCallbackRate</string>
	<key>positionAtMode</key>
	<string>sineIncludeProxy</string>
	<key>symmetricChecklistStyle</key>
	<string>previewExceptType</string>
</dict>
</plist>
