<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitObserverBottom</key>
	<string>utilOrMediator</string>
	<key>completerFlyweightDistance</key>
	<string>specifierPrototypeHead</string>
	<key>containerStructureInteraction</key>
	<string>entropyAroundFlyweight</string>
	<key>listviewDecoratorShade</key>
	<string>priorDrawerFormat</string>
	<key>lossActionMargin</key>
	<string>blocExceptCycle</string>
	<key>sustainableMenuBorder</key>
	<string>durationVersusProxy</string>
	<key>transitionStyleCenter</key>
	<string>positionPhaseDelay</string>
</dict>
</plist>
