<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedServiceFrequency</key>
	<string>semanticCapsuleValidation</string>
	<key>certificateStructureAlignment</key>
	<string>accessibleTangentSpacing</string>
	<key>methodInterpreterMargin</key>
	<string>otherRouteSpeed</string>
	<key>titleDuringAdapter</key>
	<string>reducerUntilLayer</string>
</dict>
</plist>
