<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphShapeMomentum</key>
	<string>protectedRowAlignment</string>
	<key>intensityInsideCommand</key>
	<string>mobxSystemDepth</string>
	<key>positionedVisitorMargin</key>
	<string>providerInsideForm</string>
	<key>techniqueStatePadding</key>
	<string>bitrateChainKind</string>
	<key>threadAboutTemple</key>
	<string>statelessAmongVisitor</string>
</dict>
</plist>
