<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertOperationShade</key>
	<string>spineInterpreterTransparency</string>
	<key>baseBesideObserver</key>
	<string>delegateChainDirection</string>
	<key>buttonByActivity</key>
	<string>explicitSpineOpacity</string>
	<key>crudeLabelHue</key>
	<string>stackFacadeForce</string>
	<key>cupertinoAgainstFunction</key>
	<string>animatedDurationTransparency</string>
	<key>listenerNearTier</key>
	<string>shaderOutsideParameter</string>
	<key>reusableNodeMode</key>
	<string>listenerNearPlatform</string>
	<key>widgetVariableCount</key>
	<string>logTierCenter</string>
</dict>
</plist>
