<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameViaMemento</key>
	<string>remainderScopeBorder</string>
	<key>responsivePaddingPosition</key>
	<string>directlyRoleShape</string>
	<key>serviceProxyForce</key>
	<string>musicLevelBehavior</string>
	<key>usedOperationTheme</key>
	<string>usecaseModeInteraction</string>
</dict>
</plist>
