<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMemberTheme</key>
	<string>featureProcessAlignment</string>
	<key>easyTweenStyle</key>
	<string>capacitiesThanParameter</string>
	<key>graphicWithChain</key>
	<string>alignmentWithObserver</string>
	<key>labelChainStyle</key>
	<string>adaptiveDocumentValidation</string>
	<key>loopActivityContrast</key>
	<string>inheritedCustompaintResponse</string>
	<key>secondNibSkewy</key>
	<string>streamExceptFunction</string>
	<key>topicFlyweightPadding</key>
	<string>nativePrecisionMargin</string>
</dict>
</plist>
