<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterActivityShape</key>
	<string>multiplicationAwayState</string>
	<key>comprehensiveBuilderTail</key>
	<string>prevSliderVelocity</string>
	<key>delicateRequestDelay</key>
	<string>mainHeapVelocity</string>
	<key>intermediateCycleStyle</key>
	<string>routerProcessStatus</string>
	<key>precisionOutsideFunction</key>
	<string>backwardViewBound</string>
	<key>priorAlignmentBottom</key>
	<string>kernelNearStage</string>
	<key>semanticThemeSkewx</key>
	<string>baseMementoFrequency</string>
</dict>
</plist>
