<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localMomentumDuration</key>
	<string>globalNodeResponse</string>
	<key>localStoreTension</key>
	<string>petPrototypeTint</string>
	<key>observerByFlyweight</key>
	<string>consultativePainterCoord</string>
	<key>priorityAwayDecorator</key>
	<string>routerThanPattern</string>
	<key>robustScaffoldStyle</key>
	<string>taskModeOffset</string>
	<key>storageMethodVelocity</key>
	<string>nodeDespiteProcess</string>
</dict>
</plist>
