<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionColumnTop</key>
	<string>normFromForm</string>
	<key>alphaAwayType</key>
	<string>observerTempleVelocity</string>
	<key>autoDescriptionOrigin</key>
	<string>viewFormCenter</string>
	<key>entityAwayFacade</key>
	<string>temporaryCurveForce</string>
	<key>notificationIncludePattern</key>
	<string>radiusStageAcceleration</string>
	<key>paddingEnvironmentMargin</key>
	<string>handlerMethodLeft</string>
	<key>positionedFromParam</key>
	<string>prevSpotMargin</string>
	<key>sensorInsideObserver</key>
	<string>tangentViaForm</string>
	<key>viewThroughVariable</key>
	<string>integerThroughParam</string>
</dict>
</plist>
