<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionActionMode</key>
	<string>controllerKindOrientation</string>
	<key>profileUntilParameter</key>
	<string>parallelSinkDelay</string>
	<key>tweenAwayContext</key>
	<string>synchronousMemberType</string>
</dict>
</plist>
