<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFromOperation</key>
	<string>compositionStructureSpacing</string>
	<key>alertOutsideFacade</key>
	<string>seamlessCurveName</string>
	<key>diversifiedObserverSize</key>
	<string>asyncAndState</string>
	<key>eventOfMediator</key>
	<string>disparateButtonHead</string>
	<key>gradientAndSingleton</key>
	<string>sceneStageKind</string>
	<key>grainAroundPlatform</key>
	<string>textfieldFunctionBorder</string>
	<key>materialCallbackDirection</key>
	<string>textProxyTag</string>
	<key>primaryRouteCenter</key>
	<string>taskModeDirection</string>
	<key>typicalThemeBehavior</key>
	<string>similarSegmentMode</string>
	<key>visibleSizeTail</key>
	<string>layoutBesideTemple</string>
</dict>
</plist>
