<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureActivityHue</key>
	<string>convolutionOfProxy</string>
	<key>columnInsideMethod</key>
	<string>sinkStateFlags</string>
	<key>cycleAtVar</key>
	<string>constraintAgainstVariable</string>
	<key>responseFunctionVisible</key>
	<string>loopLayerPressure</string>
</dict>
</plist>
