<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerStackBottom</key>
	<string>durationCompositeShade</string>
	<key>euclideanPresenterBehavior</key>
	<string>entityAsFacade</string>
	<key>fusedMaterialTransparency</key>
	<string>particleBeyondPhase</string>
	<key>geometricRadioTint</key>
	<string>interactiveMasterOpacity</string>
	<key>intensityLikeMemento</key>
	<string>cubitThanFramework</string>
	<key>methodDespiteObserver</key>
	<string>desktopCollectionVisibility</string>
	<key>navigatorOrActivity</key>
	<string>delegateVisitorBehavior</string>
</dict>
</plist>
