<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLayerScale</key>
	<string>sensorMethodOrigin</string>
	<key>effectPerSystem</key>
	<string>radiusVariableEdge</string>
	<key>euclideanSceneTint</key>
	<string>exceptionByParam</string>
	<key>particleThanLayer</key>
	<string>remainderVisitorPosition</string>
	<key>priorityByOperation</key>
	<string>groupJobAppearance</string>
	<key>riverpodPerJob</key>
	<string>challengeAndProxy</string>
</dict>
</plist>
