<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIntensitySpeed</key>
	<string>dropdownbuttonMediatorValidation</string>
	<key>futureParamDistance</key>
	<string>activatedEntityBound</string>
	<key>optimizerVariablePadding</key>
	<string>frameDecoratorFrequency</string>
	<key>typicalDrawerOffset</key>
	<string>immediateProtocolEdge</string>
</dict>
</plist>
