<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitKindAppearance</key>
	<string>globalGrainDensity</string>
	<key>handlerContainActivity</key>
	<string>frameChainSkewx</string>
	<key>hardTextKind</key>
	<string>aspectStageStyle</string>
	<key>inactiveRequestVisible</key>
	<string>dimensionLevelVisible</string>
	<key>layoutStrategyDensity</key>
	<string>animatedTextfieldStyle</string>
	<key>robustCustompaintHead</key>
	<string>primarySkirtVisibility</string>
	<key>segmentJobCenter</key>
	<string>singletonLayerPressure</string>
	<key>segueByComposite</key>
	<string>numericalGrainOffset</string>
	<key>taskAgainstMediator</key>
	<string>discardedSlashAppearance</string>
	<key>widgetTempleFrequency</key>
	<string>prevCubitHead</string>
</dict>
</plist>
