<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricScreenFormat</key>
	<string>exceptionStateBrightness</string>
	<key>routerParameterTint</key>
	<string>memberMementoDepth</string>
	<key>textTaskFlags</key>
	<string>tangentTempleMode</string>
	<key>unaryAroundComposite</key>
	<string>momentumAtContext</string>
</dict>
</plist>
