<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAsComposite</key>
	<string>materialActionCoord</string>
	<key>channelKindRotation</key>
	<string>completerPerProcess</string>
	<key>chapterThroughVar</key>
	<string>presenterThroughFunction</string>
	<key>effectViaChain</key>
	<string>sizeParamFrequency</string>
	<key>rectOutsideScope</key>
	<string>dependencyThroughNumber</string>
	<key>reducerVarInteraction</key>
	<string>previewSingletonVelocity</string>
	<key>resolverInStructure</key>
	<string>robustCertificateDistance</string>
	<key>shaderFacadeFeedback</key>
	<string>channelsDespiteVisitor</string>
	<key>themeBufferName</key>
	<string>deferredTableCount</string>
</dict>
</plist>
