<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAlongBuffer</key>
	<string>indicatorAroundActivity</string>
	<key>customStatelessDensity</key>
	<string>cubitTypeAcceleration</string>
	<key>equipmentFrameworkBound</key>
	<string>lazyPetLocation</string>
	<key>overlayDecoratorSpeed</key>
	<string>directFeatureShape</string>
</dict>
</plist>
