<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedCursorFrequency</key>
	<string>controllerViaProxy</string>
	<key>descriptorStructureRight</key>
	<string>zoneScopeShade</string>
	<key>mutableCallbackCenter</key>
	<string>cellActivityKind</string>
	<key>scaffoldPhaseRotation</key>
	<string>flexibleSubpixelSize</string>
</dict>
</plist>
