<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNearEnvironment</key>
	<string>popupThanTemple</string>
	<key>clipperBridgeSize</key>
	<string>profileAsCycle</string>
	<key>permanentConfigurationScale</key>
	<string>movementThanParameter</string>
	<key>rapidAnimationBehavior</key>
	<string>effectAroundCycle</string>
	<key>responsiveSingletonKind</key>
	<string>activatedReductionCount</string>
	<key>routeLevelStyle</key>
	<string>commandViaParameter</string>
	<key>smartControllerDensity</key>
	<string>nodeBeyondSystem</string>
</dict>
</plist>
