<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeRadioAcceleration</key>
	<string>compositionInterpreterBound</string>
	<key>crucialStreamColor</key>
	<string>screenScopeStatus</string>
	<key>handlerFromParam</key>
	<string>menuFromSingleton</string>
	<key>ignoredFrameBorder</key>
	<string>tableAroundProxy</string>
	<key>mobileTransformerSpeed</key>
	<string>modelAsValue</string>
</dict>
</plist>
