<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperWithoutScope</key>
	<string>routerAwayPattern</string>
	<key>descriptorDespiteTemple</key>
	<string>backwardQueueSkewx</string>
	<key>newestContractionTag</key>
	<string>lostTabviewTransparency</string>
	<key>publicTickerTheme</key>
	<string>boxshadowFrameworkHead</string>
	<key>specifyBitrateSpacing</key>
	<string>convolutionWithVariable</string>
</dict>
</plist>
