<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxVersusNumber</key>
	<string>opaquePopupEdge</string>
	<key>constraintDespiteDecorator</key>
	<string>respectiveLoopValidation</string>
	<key>cupertinoCompositeColor</key>
	<string>transformerInStrategy</string>
	<key>delegateTierAppearance</key>
	<string>repositoryPerOperation</string>
	<key>gramPatternCount</key>
	<string>providerBesideStage</string>
	<key>robustUnaryStyle</key>
	<string>rectBufferRate</string>
	<key>storageOrPrototype</key>
	<string>transformerAtBuffer</string>
</dict>
</plist>
