<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBeyondLevel</key>
	<string>textureFromOperation</string>
	<key>fixedLocalizationBottom</key>
	<string>referenceFrameworkMode</string>
	<key>imperativeLabelDelay</key>
	<string>allocatorOfParameter</string>
	<key>requestCycleSaturation</key>
	<string>deferredVectorSkewx</string>
	<key>stackActionStatus</key>
	<string>imageInsidePattern</string>
	<key>staticAsyncBehavior</key>
	<string>listviewPrototypeAcceleration</string>
	<key>transitionAsKind</key>
	<string>greatUnaryStatus</string>
	<key>usedAccessoryForce</key>
	<string>screenFromTemple</string>
</dict>
</plist>
