<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGestureVisible</key>
	<string>liteSemanticsAppearance</string>
	<key>basicLayerSize</key>
	<string>criticalModelTop</string>
	<key>capacitiesFromStage</key>
	<string>futureDuringDecorator</string>
	<key>durationFromContext</key>
	<string>advancedStepKind</string>
	<key>modalAroundPattern</key>
	<string>convolutionOfComposite</string>
	<key>smallMarginRight</key>
	<string>asynchronousLabelCoord</string>
</dict>
</plist>
