<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVersusFramework</key>
	<string>handlerDuringFacade</string>
	<key>curveAtForm</key>
	<string>channelOutsideFunction</string>
	<key>factoryThanProcess</key>
	<string>integerVisitorAcceleration</string>
	<key>finalMissionColor</key>
	<string>substantialHeapSpeed</string>
	<key>multiProjectionSpacing</key>
	<string>cosineAlongPattern</string>
	<key>workflowVisitorPadding</key>
	<string>plateLevelSpacing</string>
</dict>
</plist>
