<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFromProcess</key>
	<string>spriteLayerPosition</string>
	<key>exponentPlatformInteraction</key>
	<string>sequentialGrayscaleInterval</string>
	<key>integerVisitorRight</key>
	<string>typicalPresenterVisibility</string>
	<key>paddingAwaySingleton</key>
	<string>reductionMementoLocation</string>
	<key>queryNearLayer</key>
	<string>delicateEventOrientation</string>
	<key>queueVersusSystem</key>
	<string>temporaryStorageInterval</string>
	<key>similarPopupStyle</key>
	<string>semanticInterpolationSaturation</string>
</dict>
</plist>
