<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncValueLeft</key>
	<string>equalizationStageMomentum</string>
	<key>finalRequestSkewx</key>
	<string>factoryForAction</string>
	<key>frameFromActivity</key>
	<string>singleTextureContrast</string>
	<key>prevStreamBottom</key>
	<string>sessionOutsidePrototype</string>
	<key>profileActivityFeedback</key>
	<string>accessibleLogarithmBehavior</string>
</dict>
</plist>
