<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVariableMargin</key>
	<string>arithmeticMenuContrast</string>
	<key>cacheAlongAdapter</key>
	<string>resultProxyAppearance</string>
	<key>normNumberFrequency</key>
	<string>consultativeEquipmentBottom</string>
	<key>precisionJobLeft</key>
	<string>factoryAwayStructure</string>
	<key>queueInsideType</key>
	<string>textAsNumber</string>
	<key>queueUntilVisitor</key>
	<string>permissiveSkinPadding</string>
	<key>shaderLikeStrategy</key>
	<string>eagerConfigurationRate</string>
	<key>threadAboutStrategy</key>
	<string>concurrentPopupState</string>
	<key>typicalCommandLocation</key>
	<string>timerKindMode</string>
	<key>uniformEntropyKind</key>
	<string>integerPlatformName</string>
</dict>
</plist>
