<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialCompositionLeft</key>
	<string>lostContractionKind</string>
	<key>dependencyAmongCycle</key>
	<string>isolateLevelTop</string>
	<key>frameViaTemple</key>
	<string>giftStateResponse</string>
	<key>immediateHandlerOpacity</key>
	<string>globalContainerBrightness</string>
</dict>
</plist>
