<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialLayoutOrigin</key>
	<string>intensityMementoStyle</string>
	<key>disparateExceptionDelay</key>
	<string>staticGroupOffset</string>
	<key>layerDecoratorPadding</key>
	<string>methodThanValue</string>
	<key>nibDuringMethod</key>
	<string>entropyLayerFeedback</string>
</dict>
</plist>
