<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationOrProcess</key>
	<string>protocolNumberOpacity</string>
	<key>eventCommandOrigin</key>
	<string>associatedConstraintVisibility</string>
	<key>firstExtensionSpeed</key>
	<string>serviceInType</string>
	<key>mediumAccessoryBorder</key>
	<string>desktopAlignmentStatus</string>
	<key>ternaryAsScope</key>
	<string>materialWorkAppearance</string>
	<key>webEntropyRight</key>
	<string>actionOrNumber</string>
</dict>
</plist>
