<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTaskBorder</key>
	<string>effectInCommand</string>
	<key>apertureAtParam</key>
	<string>masterOrValue</string>
	<key>descriptionVariablePosition</key>
	<string>utilExceptParameter</string>
	<key>errorStyleShape</key>
	<string>entityAwayFlyweight</string>
	<key>graphExceptProxy</key>
	<string>promiseFrameworkLeft</string>
	<key>heapCompositeOrigin</key>
	<string>promiseLikeParameter</string>
	<key>prevChapterColor</key>
	<string>asynchronousSceneInset</string>
	<key>semanticLogTheme</key>
	<string>functionalGateSaturation</string>
	<key>smallTransformerFeedback</key>
	<string>characterPlatformFlags</string>
</dict>
</plist>
