<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAndFlyweight</key>
	<string>grainAtFramework</string>
	<key>directlyTweenFeedback</key>
	<string>granularRemainderColor</string>
	<key>diversifiedMasterTop</key>
	<string>cardCommandLocation</string>
	<key>intermediateCompleterLocation</key>
	<string>interactorValueValidation</string>
	<key>notifierVariableRotation</key>
	<string>segmentAmongVisitor</string>
	<key>textureThroughPlatform</key>
	<string>logOfStrategy</string>
	<key>zoneStageSpacing</key>
	<string>routeOrTier</string>
</dict>
</plist>
