<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAwaitOpacity</key>
	<string>decorationContextBehavior</string>
	<key>discardedReducerVelocity</key>
	<string>difficultGradientDistance</string>
	<key>lostTaskMomentum</key>
	<string>transitionPerInterpreter</string>
	<key>presenterTempleDuration</key>
	<string>methodByValue</string>
	<key>reductionSinceStage</key>
	<string>subtleAssetFeedback</string>
	<key>subtleLogMode</key>
	<string>checkboxScopeInteraction</string>
	<key>widgetForPhase</key>
	<string>sharedNavigatorMode</string>
	<key>zoneInsideForm</key>
	<string>comprehensiveExceptionColor</string>
</dict>
</plist>
