<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedActionVisible</key>
	<string>kernelByType</string>
	<key>autoWidgetSkewx</key>
	<string>permissiveAccessoryContrast</string>
	<key>errorVersusVisitor</key>
	<string>remainderStyleKind</string>
	<key>greatPlaybackFeedback</key>
	<string>synchronousStreamRotation</string>
	<key>presenterStyleTheme</key>
	<string>curveDuringMediator</string>
	<key>resultBeyondSingleton</key>
	<string>actionFacadePadding</string>
	<key>tweenMethodPosition</key>
	<string>hierarchicalOptimizerMode</string>
	<key>usecaseInTier</key>
	<string>behaviorShapeAppearance</string>
</dict>
</plist>
