<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyProfileBound</key>
	<string>rectSingletonDelay</string>
	<key>entropyFormBorder</key>
	<string>checklistThanComposite</string>
	<key>materialConsumerRight</key>
	<string>asyncNearDecorator</string>
	<key>mobileEnvironmentShape</key>
	<string>bufferStageInteraction</string>
	<key>richtextVersusCycle</key>
	<string>unaryDecoratorStatus</string>
	<key>routeDecoratorKind</key>
	<string>queueOfShape</string>
	<key>secondDecorationPadding</key>
	<string>mediaTierShape</string>
	<key>secondRepositoryTension</key>
	<string>observerBeyondMethod</string>
	<key>sortedDependencyDelay</key>
	<string>remainderMementoOpacity</string>
</dict>
</plist>
