<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheActivityHead</key>
	<string>futureOfKind</string>
	<key>diversifiedEqualizationVisible</key>
	<string>substantialBufferForce</string>
	<key>lossThanState</key>
	<string>durationTempleSpacing</string>
	<key>multiplicationContainParameter</key>
	<string>labelInsideVisitor</string>
	<key>reductionViaLevel</key>
	<string>storageFrameworkTransparency</string>
	<key>reusableLabelMode</key>
	<string>transitionInterpreterKind</string>
	<key>significantMetadataColor</key>
	<string>animatedScreenTransparency</string>
</dict>
</plist>
