<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitFromPhase</key>
	<string>substantialBlocPressure</string>
	<key>customRequestTag</key>
	<string>temporaryPopupHead</string>
	<key>directlyGrainInteraction</key>
	<string>crucialOffsetTint</string>
	<key>permanentCurveSkewy</key>
	<string>controllerLikeMode</string>
	<key>resolverDecoratorPosition</key>
	<string>usecaseAdapterBottom</string>
	<key>stackTierVisible</key>
	<string>temporaryRequestFlags</string>
	<key>tensorTitleDirection</key>
	<string>tickerFlyweightAcceleration</string>
	<key>transitionNearPhase</key>
	<string>effectLikeVisitor</string>
</dict>
</plist>
