<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencySinceType</key>
	<string>localizationOutsideDecorator</string>
	<key>easyGroupDirection</key>
	<string>modelFromWork</string>
	<key>nativeTernaryRight</key>
	<string>exceptionKindInterval</string>
	<key>oldNotificationVelocity</key>
	<string>cupertinoRectAppearance</string>
	<key>priorCycleLeft</key>
	<string>entityAwayStructure</string>
	<key>protectedAlignmentAlignment</key>
	<string>sliderBridgeVisible</string>
	<key>reusableButtonDuration</key>
	<string>descriptionInterpreterDelay</string>
	<key>zoneAmongAdapter</key>
	<string>arithmeticFromMode</string>
</dict>
</plist>
