<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSceneDistance</key>
	<string>desktopBuilderName</string>
	<key>adaptiveDependencyMargin</key>
	<string>equalizationVisitorBorder</string>
	<key>checklistValueCenter</key>
	<string>callbackContainPlatform</string>
	<key>configurationTypeCenter</key>
	<string>interactorParamTop</string>
	<key>mobileAllocatorFrequency</key>
	<string>standaloneAssetDistance</string>
	<key>nextCurveFeedback</key>
	<string>texturePerStructure</string>
	<key>offsetStrategyCenter</key>
	<string>integerDuringDecorator</string>
	<key>publicOptionInset</key>
	<string>indicatorVarOffset</string>
	<key>similarNodeBrightness</key>
	<string>ignoredDurationInterval</string>
	<key>sliderAsMediator</key>
	<string>imagePerForm</string>
</dict>
</plist>
