<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonSingletonEdge</key>
	<string>graphicDuringNumber</string>
	<key>resourceObserverKind</key>
	<string>reactiveAssetPressure</string>
	<key>sampleAroundParam</key>
	<string>completionContainMediator</string>
	<key>unactivatedHeroTag</key>
	<string>listviewProcessLocation</string>
</dict>
</plist>
