<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDuringVisitor</key>
	<string>screenVisitorForce</string>
	<key>displayableTextColor</key>
	<string>asyncInParameter</string>
	<key>listenerFrameworkStatus</key>
	<string>asynchronousMethodTheme</string>
</dict>
</plist>
