<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAboutStrategy</key>
	<string>richtextStateInterval</string>
	<key>exceptionCommandFrequency</key>
	<string>iconFlyweightDensity</string>
	<key>groupInterpreterDelay</key>
	<string>completionBesideScope</string>
	<key>interactiveConsumerVelocity</key>
	<string>particleUntilCycle</string>
	<key>offsetContainVisitor</key>
	<string>hierarchicalFrameDuration</string>
	<key>sinkAtType</key>
	<string>bufferDespitePrototype</string>
	<key>sinkKindOpacity</key>
	<string>challengeTypeStatus</string>
	<key>titleBridgeStatus</key>
	<string>delegateAlongMode</string>
</dict>
</plist>
