<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constAlertContrast</key>
	<string>managerThroughWork</string>
	<key>hierarchicalSubpixelShape</key>
	<string>localizationStrategyOrientation</string>
	<key>subtleDecorationDuration</key>
	<string>intermediateCellType</string>
	<key>taskDecoratorAlignment</key>
	<string>materialPerSystem</string>
	<key>unactivatedActionTag</key>
	<string>imperativeRequestBound</string>
</dict>
</plist>
