<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferStructureHead</key>
	<string>autoGroupMomentum</string>
	<key>concreteWidgetInteraction</key>
	<string>animationLevelOpacity</string>
	<key>featurePrototypeInterval</key>
	<string>adaptiveMethodTag</string>
	<key>granularRepositoryType</key>
	<string>layerInsideProcess</string>
	<key>interfaceExceptPrototype</key>
	<string>reductionAroundPlatform</string>
	<key>pointDecoratorTag</key>
	<string>significantGemVelocity</string>
	<key>responseBesideChain</key>
	<string>configurationInsideVariable</string>
	<key>segmentAtTier</key>
	<string>boxshadowFlyweightOrigin</string>
	<key>tableVariableInteraction</key>
	<string>fixedBuilderHead</string>
	<key>unaryVariableDepth</key>
	<string>sizedboxLikeFramework</string>
</dict>
</plist>
