<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionEventHue</key>
	<string>bufferPatternOpacity</string>
	<key>advancedArithmeticRotation</key>
	<string>asyncKindType</string>
	<key>challengeSystemDepth</key>
	<string>characterDuringProcess</string>
	<key>completerAboutLevel</key>
	<string>visibleResultTag</string>
	<key>effectModeDepth</key>
	<string>tableStrategyCenter</string>
	<key>richtextAmongMode</key>
	<string>axisAsStructure</string>
	<key>roleCompositeSpeed</key>
	<string>dependencyShapeStyle</string>
	<key>streamFromMemento</key>
	<string>symbolPlatformOrientation</string>
</dict>
</plist>
