<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasShapeVisibility</key>
	<string>chapterByKind</string>
	<key>declarativeOptimizerSaturation</key>
	<string>collectionStrategySpacing</string>
	<key>disparateMapFlags</key>
	<string>injectionContextOffset</string>
	<key>elasticRouterCenter</key>
	<string>completerViaWork</string>
	<key>granularQueueFormat</key>
	<string>modalMediatorBound</string>
	<key>immediateErrorTransparency</key>
	<string>deferredTitleRotation</string>
	<key>scenePatternShape</key>
	<string>assetOutsideValue</string>
	<key>scrollablePositionDuration</key>
	<string>consumerBeyondActivity</string>
	<key>seamlessProfileAppearance</key>
	<string>scrollableBlocShade</string>
	<key>skirtNumberPressure</key>
	<string>dimensionDespiteBridge</string>
</dict>
</plist>
