<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletValueTransparency</key>
	<string>taskParamFlags</string>
	<key>granularBlocOrientation</key>
	<string>gemBridgeEdge</string>
	<key>intuitivePrioritySkewx</key>
	<string>appbarAndTask</string>
	<key>masterSingletonIndex</key>
	<string>tickerSinceNumber</string>
	<key>menuProcessForce</key>
	<string>decorationExceptObserver</string>
	<key>relationalTaskShape</key>
	<string>difficultVectorOrigin</string>
	<key>topicObserverName</key>
	<string>usecaseFormMargin</string>
	<key>transitionTierTop</key>
	<string>cacheAroundContext</string>
</dict>
</plist>
