<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureForSingleton</key>
	<string>prismaticSegmentBrightness</string>
	<key>cacheInsideAction</key>
	<string>histogramPhaseBorder</string>
	<key>clipperTierBorder</key>
	<string>referenceKindOpacity</string>
	<key>commandShapeTension</key>
	<string>specifyRowMomentum</string>
	<key>metadataStrategyShade</key>
	<string>adaptiveInjectionSpacing</string>
	<key>queryFlyweightAcceleration</key>
	<string>diversifiedCallbackDelay</string>
	<key>semanticMenuSkewx</key>
	<string>plateSingletonLeft</string>
	<key>webLogShape</key>
	<string>mainMasterSaturation</string>
</dict>
</plist>
