<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxOfVar</key>
	<string>lastDurationDensity</string>
	<key>entityViaAdapter</key>
	<string>frameProxyValidation</string>
	<key>stackNumberHue</key>
	<string>parallelOptimizerInteraction</string>
	<key>taskOutsideAdapter</key>
	<string>presenterWithoutDecorator</string>
</dict>
</plist>
