<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTechniqueFormat</key>
	<string>prevBoxshadowTransparency</string>
	<key>framePhaseDepth</key>
	<string>staticCoordinatorSpeed</string>
	<key>instructionInterpreterKind</key>
	<string>taskFunctionDelay</string>
	<key>sineThanTier</key>
	<string>lostDescriptorEdge</string>
	<key>sizeCycleFlags</key>
	<string>workflowMethodCenter</string>
	<key>spriteThanDecorator</key>
	<string>entityAtBuffer</string>
</dict>
</plist>
