<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPositionOrigin</key>
	<string>promiseVariableMode</string>
	<key>chartAdapterPosition</key>
	<string>reusableNormCenter</string>
	<key>criticalIndicatorInteraction</key>
	<string>intuitiveTimerInteraction</string>
	<key>navigatorAgainstKind</key>
	<string>statefulMediatorOrientation</string>
	<key>observerOrShape</key>
	<string>chartSinceMethod</string>
	<key>popupContainPattern</key>
	<string>intensityBeyondLevel</string>
	<key>repositoryWithStructure</key>
	<string>missionCycleEdge</string>
	<key>retainedLossPadding</key>
	<string>constraintTypeStyle</string>
	<key>roleOutsideLevel</key>
	<string>arithmeticTabbarTop</string>
	<key>tangentOutsideTier</key>
	<string>uniformThreadDuration</string>
</dict>
</plist>
