<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBufferFeedback</key>
	<string>widgetProcessSaturation</string>
	<key>dedicatedReferenceColor</key>
	<string>pageviewUntilProcess</string>
	<key>opaqueMobxMomentum</key>
	<string>resolverDuringBridge</string>
	<key>providerPhaseLeft</key>
	<string>lossJobStyle</string>
	<key>taskStateVelocity</key>
	<string>basicRiverpodOrigin</string>
	<key>tickerLikeFunction</key>
	<string>animationAgainstProcess</string>
	<key>vectorActionBrightness</key>
	<string>subsequentOverlayHead</string>
</dict>
</plist>
