<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocMementoHue</key>
	<string>buttonAndTask</string>
	<key>constTransitionLeft</key>
	<string>hyperbolicBrushDirection</string>
	<key>lostGraphOrigin</key>
	<string>specifierMediatorCoord</string>
	<key>projectionSinceDecorator</key>
	<string>ignoredDescriptionInset</string>
	<key>symmetricDocumentMargin</key>
	<string>persistentTabbarOpacity</string>
	<key>textfieldEnvironmentSkewx</key>
	<string>equalizationSinceLayer</string>
	<key>tweenKindDistance</key>
	<string>collectionCommandSaturation</string>
</dict>
</plist>
