<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeActivity</key>
	<string>symmetricInterfaceOrientation</string>
	<key>appbarMementoTint</key>
	<string>timerAsSingleton</string>
	<key>gramOutsidePrototype</key>
	<string>statelessCycleDuration</string>
	<key>groupDuringTask</key>
	<string>curveLikePlatform</string>
	<key>modelCycleDuration</key>
	<string>originalSignMomentum</string>
	<key>radioActionFrequency</key>
	<string>sinkPerMethod</string>
	<key>rowFlyweightAlignment</key>
	<string>materialCompositePosition</string>
	<key>textExceptComposite</key>
	<string>positionAroundVariable</string>
	<key>threadPerTask</key>
	<string>containerBufferFormat</string>
	<key>variantVisitorHead</key>
	<string>subscriptionMementoOpacity</string>
</dict>
</plist>
