<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackSingletonType</key>
	<string>descriptionShapeFeedback</string>
	<key>deferredLayerMode</key>
	<string>projectDuringTier</string>
	<key>delicateFuturePadding</key>
	<string>factoryAndValue</string>
	<key>disparateCubitColor</key>
	<string>cycleSingletonLeft</string>
	<key>graphStrategyCoord</key>
	<string>inactiveFutureSpeed</string>
	<key>permissiveHandlerIndex</key>
	<string>storageTempleMode</string>
	<key>resolverAmongMediator</key>
	<string>greatBlocHead</string>
	<key>sceneSinceCycle</key>
	<string>singletonOperationShape</string>
</dict>
</plist>
