<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalBufferTail</key>
	<string>petOutsideKind</string>
	<key>inheritedSizeVisible</key>
	<string>labelAgainstOperation</string>
	<key>interactiveRadiusState</key>
	<string>baselineVarPadding</string>
	<key>mediocreBuilderName</key>
	<string>opaqueLabelInteraction</string>
	<key>sensorVersusPhase</key>
	<string>missionPhaseBorder</string>
	<key>transformerOrMethod</key>
	<string>compositionObserverOrigin</string>
	<key>usecaseStyleTag</key>
	<string>channelTierKind</string>
</dict>
</plist>
