<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferLayerBound</key>
	<string>nextModelLeft</string>
	<key>denseProjectionVelocity</key>
	<string>enabledScreenDirection</string>
	<key>methodStateFrequency</key>
	<string>commandFunctionOrientation</string>
	<key>resourceNumberVisible</key>
	<string>assetPerComposite</string>
	<key>statefulChapterResponse</key>
	<string>shaderOrAction</string>
</dict>
</plist>
