<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFormTail</key>
	<string>groupLikeSingleton</string>
	<key>hyperbolicTopicSpeed</key>
	<string>euclideanSemanticsTint</string>
	<key>observerProcessCenter</key>
	<string>resourceWithSystem</string>
	<key>projectionModeBrightness</key>
	<string>textfieldParameterTint</string>
	<key>subsequentCurveRight</key>
	<string>signatureFlyweightPosition</string>
</dict>
</plist>
