<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorContainState</key>
	<string>taskAlongPattern</string>
	<key>bufferAboutPattern</key>
	<string>collectionSystemSkewx</string>
	<key>displayableTransitionContrast</key>
	<string>offsetFacadeDistance</string>
	<key>scaffoldFacadeSpacing</key>
	<string>promiseAroundPattern</string>
</dict>
</plist>
