<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleCommandScale</key>
	<string>cycleAsSingleton</string>
	<key>convolutionAwayAdapter</key>
	<string>actionAndStage</string>
	<key>easyInterfaceSpacing</key>
	<string>appbarFacadeRotation</string>
	<key>explicitWorkflowVelocity</key>
	<string>layerNumberKind</string>
	<key>futureVisitorTop</key>
	<string>optimizerBridgeSkewx</string>
	<key>hardInteractorInteraction</key>
	<string>isolatePhaseTail</string>
	<key>instructionFacadeDelay</key>
	<string>directMediaDirection</string>
	<key>listenerAboutProcess</key>
	<string>boxExceptStage</string>
	<key>rowIncludeDecorator</key>
	<string>associatedMissionCoord</string>
	<key>stepAndShape</key>
	<string>discardedShaderCenter</string>
</dict>
</plist>
