<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePreviewAppearance</key>
	<string>flexibleObserverBrightness</string>
	<key>alphaMethodDensity</key>
	<string>sizedboxProxyOrientation</string>
	<key>commandParamTag</key>
	<string>visibleDimensionCoord</string>
	<key>hashNearState</key>
	<string>pivotalGrainEdge</string>
	<key>layoutFacadeValidation</key>
	<string>themeAmongDecorator</string>
	<key>loopJobSpeed</key>
	<string>subtleAsyncCenter</string>
	<key>marginVersusValue</key>
	<string>routeAsEnvironment</string>
	<key>plateDuringPrototype</key>
	<string>interactiveTextTag</string>
	<key>promiseExceptMode</key>
	<string>cubitThroughCommand</string>
	<key>rowBridgeTheme</key>
	<string>mainNavigatorBound</string>
</dict>
</plist>
