<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRepositoryTop</key>
	<string>monsterFrameworkMargin</string>
	<key>containerActivityIndex</key>
	<string>overlayContextScale</string>
	<key>controllerAtDecorator</key>
	<string>greatBehaviorShape</string>
	<key>discardedCellHead</key>
	<string>controllerPlatformResponse</string>
	<key>interactorTempleOpacity</key>
	<string>arithmeticStateBrightness</string>
	<key>layerStageState</key>
	<string>taskSincePattern</string>
	<key>popupIncludeMediator</key>
	<string>normalListviewVelocity</string>
</dict>
</plist>
