<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletOrPrototype</key>
	<string>dependencyByAction</string>
	<key>matrixMethodAcceleration</key>
	<string>activatedPaddingCoord</string>
	<key>radiusActionStatus</key>
	<string>touchLikeStage</string>
	<key>resultActivityColor</key>
	<string>firstSensorIndex</string>
	<key>toolSinceStyle</key>
	<string>inkwellFromBridge</string>
</dict>
</plist>
