<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocForFunction</key>
	<string>roleIncludeParameter</string>
	<key>containerAroundForm</key>
	<string>subtleGrayscaleRight</string>
	<key>custompaintStageAlignment</key>
	<string>queueVisitorRate</string>
	<key>effectWithMemento</key>
	<string>alignmentAmongStyle</string>
	<key>interpolationIncludeVar</key>
	<string>interfaceBesideValue</string>
	<key>isolatePerLayer</key>
	<string>stampNumberVelocity</string>
	<key>storageOutsideComposite</key>
	<string>delicateVectorTheme</string>
	<key>touchObserverTint</key>
	<string>graphicVarStatus</string>
</dict>
</plist>
