<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackMethodBound</key>
	<string>customizedErrorTransparency</string>
	<key>displayableAllocatorHue</key>
	<string>nodeTierDistance</string>
	<key>durationParamOffset</key>
	<string>widgetOfScope</string>
	<key>projectionDuringFramework</key>
	<string>prismaticServiceFrequency</string>
	<key>queryVariableStyle</key>
	<string>staticLabelScale</string>
	<key>resizableHistogramAppearance</key>
	<string>workflowAwayChain</string>
	<key>resolverOfEnvironment</key>
	<string>mobileViaStrategy</string>
	<key>scrollableCollectionCoord</key>
	<string>beginnerToolSpeed</string>
	<key>spriteFacadeContrast</key>
	<string>groupWorkIndex</string>
	<key>timerAboutStyle</key>
	<string>visibleTransformerOpacity</string>
</dict>
</plist>
