<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCompositeBottom</key>
	<string>resolverAlongState</string>
	<key>custompaintTaskTail</key>
	<string>immediateBulletDensity</string>
	<key>deferredIndicatorOffset</key>
	<string>prevResourceDelay</string>
	<key>dialogsAroundTier</key>
	<string>nativeTableShade</string>
	<key>smartInstructionSkewx</key>
	<string>menuThanVisitor</string>
	<key>streamThanState</key>
	<string>cubitWithMediator</string>
	<key>synchronousTextTint</key>
	<string>descriptionPrototypeState</string>
	<key>typicalTabbarOpacity</key>
	<string>specifierJobInset</string>
</dict>
</plist>
