<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertStageFlags</key>
	<string>interactiveColumnForce</string>
	<key>optimizerLayerContrast</key>
	<string>sineMediatorOrigin</string>
	<key>positionedWithState</key>
	<string>scrollableSingletonBound</string>
	<key>sortedSpecifierFlags</key>
	<string>resilientLayerContrast</string>
	<key>usecaseViaAction</key>
	<string>injectionFlyweightVisibility</string>
</dict>
</plist>
