<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionInsideCommand</key>
	<string>storeAwayForm</string>
	<key>consultativeArithmeticSaturation</key>
	<string>opaqueWidgetSize</string>
	<key>featureParamTint</key>
	<string>coordinatorContainStyle</string>
	<key>heroVisitorForce</key>
	<string>keyNotificationScale</string>
	<key>navigatorSingletonColor</key>
	<string>richtextUntilVar</string>
	<key>oldTransformerFrequency</key>
	<string>grayscaleThanStage</string>
	<key>reducerValueMomentum</key>
	<string>inactiveQueryOffset</string>
	<key>specifierLikeComposite</key>
	<string>toolExceptInterpreter</string>
	<key>usecaseVarStyle</key>
	<string>disabledScenePressure</string>
</dict>
</plist>
