<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelNearAction</key>
	<string>concurrentWidgetVelocity</string>
	<key>crudeInstructionVelocity</key>
	<string>tangentPhaseDistance</string>
	<key>entityBeyondTier</key>
	<string>semanticTransformerMode</string>
	<key>layerBySystem</key>
	<string>dependencyStrategyValidation</string>
	<key>mainMemberBrightness</key>
	<string>typicalGiftFormat</string>
	<key>offsetBufferTheme</key>
	<string>routeProxyVisibility</string>
	<key>resultIncludeProcess</key>
	<string>overlayPlatformSize</string>
</dict>
</plist>
