<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLikeMethod</key>
	<string>stampSinceObserver</string>
	<key>dependencyStageRight</key>
	<string>keyScreenTop</string>
	<key>effectCycleTag</key>
	<string>cartesianSpecifierKind</string>
	<key>interfaceAwayCycle</key>
	<string>positionedInsideContext</string>
	<key>localizationNearMemento</key>
	<string>playbackAwayWork</string>
	<key>normWorkOpacity</key>
	<string>materialAwaitHead</string>
	<key>oldIntensityContrast</key>
	<string>similarStoryboardDelay</string>
	<key>protocolByLayer</key>
	<string>normalFutureOrigin</string>
	<key>richtextParameterVisible</key>
	<string>geometricTextureContrast</string>
	<key>tensorNotificationScale</key>
	<string>activatedAlphaInset</string>
</dict>
</plist>
