<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAlongAdapter</key>
	<string>callbackOfContext</string>
	<key>inheritedDependencyDelay</key>
	<string>spriteLayerMode</string>
	<key>inheritedModalRate</key>
	<string>futureLayerName</string>
	<key>opaqueCatalystSpacing</key>
	<string>secondRectSize</string>
	<key>textPatternTop</key>
	<string>hashInVar</string>
	<key>usecaseWorkPadding</key>
	<string>missedGramSaturation</string>
</dict>
</plist>
