<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicNormInteraction</key>
	<string>bulletIncludePrototype</string>
	<key>challengeLevelInterval</key>
	<string>capacitiesExceptInterpreter</string>
	<key>checklistPhaseKind</key>
	<string>serviceMementoState</string>
	<key>collectionPrototypeResponse</key>
	<string>mobileProcessTop</string>
	<key>compositionAwayParameter</key>
	<string>histogramCommandEdge</string>
	<key>constUsageSpeed</key>
	<string>statefulSessionTransparency</string>
	<key>descriptorVarStyle</key>
	<string>localProjectOrientation</string>
	<key>iterativeMomentumDepth</key>
	<string>materialManagerDistance</string>
	<key>retainedTickerCenter</key>
	<string>managerTierOpacity</string>
	<key>vectorForShape</key>
	<string>pointAlongStyle</string>
</dict>
</plist>
