<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRouteContrast</key>
	<string>pointChainSpacing</string>
	<key>bitrateThroughKind</key>
	<string>sliderStyleMargin</string>
	<key>dropdownbuttonFacadeVelocity</key>
	<string>requiredMusicVisibility</string>
	<key>eagerApertureShape</key>
	<string>momentumWithoutJob</string>
	<key>equalizationMediatorFormat</key>
	<string>errorBeyondDecorator</string>
	<key>histogramTierValidation</key>
	<string>routeAdapterState</string>
	<key>pinchableTangentSkewx</key>
	<string>bufferDecoratorPadding</string>
	<key>queueAgainstScope</key>
	<string>seamlessSymbolTheme</string>
	<key>transitionValueColor</key>
	<string>cycleOrStrategy</string>
</dict>
</plist>
