<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDespiteMode</key>
	<string>webControllerMomentum</string>
	<key>asyncDuringBridge</key>
	<string>injectionStageShade</string>
	<key>convolutionWithObserver</key>
	<string>pageviewDespiteBridge</string>
	<key>flexibleCompleterBorder</key>
	<string>cubeLevelSkewy</string>
	<key>managerPerSingleton</key>
	<string>managerInTask</string>
</dict>
</plist>
