<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTextVisibility</key>
	<string>behaviorPhasePadding</string>
	<key>adaptiveLabelShade</key>
	<string>actionOrStructure</string>
	<key>channelCommandSpeed</key>
	<string>cubitViaDecorator</string>
	<key>concurrentModelAppearance</key>
	<string>viewShapeHead</string>
	<key>firstProtocolRate</key>
	<string>queryOperationBound</string>
	<key>mutableReducerRight</key>
	<string>typicalPresenterTint</string>
	<key>nodeFromActivity</key>
	<string>screenMementoState</string>
	<key>resolverAwaySystem</key>
	<string>curveBesideForm</string>
</dict>
</plist>
