<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxInOperation</key>
	<string>retainedRemainderTransparency</string>
	<key>labelContainOperation</key>
	<string>enabledQueryBound</string>
	<key>mobxFromMode</key>
	<string>topicThroughVariable</string>
	<key>tweenSingletonScale</key>
	<string>spriteTypeFlags</string>
</dict>
</plist>
