<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFromForm</key>
	<string>gesturedetectorDespiteProcess</string>
	<key>animationProxyAppearance</key>
	<string>notificationNearEnvironment</string>
	<key>concreteMenuOpacity</key>
	<string>flexibleConstraintHead</string>
	<key>otherDimensionPadding</key>
	<string>nextEffectValidation</string>
	<key>progressbarContextEdge</key>
	<string>permissivePaddingPressure</string>
	<key>riverpodBesideSingleton</key>
	<string>materialLayerForce</string>
	<key>storageOfScope</key>
	<string>textLevelType</string>
</dict>
</plist>
