<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFrameTension</key>
	<string>tensorHashType</string>
	<key>granularListenerInterval</key>
	<string>sensorProcessOrigin</string>
	<key>permanentBlocSpeed</key>
	<string>semanticStatefulDistance</string>
	<key>storyboardOutsideShape</key>
	<string>cursorCycleVisibility</string>
	<key>uniformGetxSize</key>
	<string>transitionModeCenter</string>
</dict>
</plist>
