<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAboutCycle</key>
	<string>parallelSinkSaturation</string>
	<key>gestureFlyweightShape</key>
	<string>menuAlongProxy</string>
	<key>iterativeTextKind</key>
	<string>priorityIncludeState</string>
	<key>queueVersusTier</key>
	<string>managerJobVelocity</string>
	<key>resourceAsVariable</key>
	<string>challengeInsideActivity</string>
	<key>rowActivityCenter</key>
	<string>sizeStructureDensity</string>
	<key>rowAlongProxy</key>
	<string>textChainTheme</string>
</dict>
</plist>
