<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBesideNumber</key>
	<string>consumerInPattern</string>
	<key>compositionShapeFrequency</key>
	<string>mediumRoleShape</string>
	<key>coordinatorKindTheme</key>
	<string>blocUntilVariable</string>
	<key>frameVisitorTail</key>
	<string>intermediateVariantInset</string>
	<key>logarithmContainTier</key>
	<string>sortedProgressbarOffset</string>
	<key>navigatorAboutPrototype</key>
	<string>secondDescriptionBorder</string>
	<key>topicTierShape</key>
	<string>gradientValueHue</string>
</dict>
</plist>
