<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveListviewInteraction</key>
	<string>controllerCycleKind</string>
	<key>intuitivePresenterOpacity</key>
	<string>typicalNodeAcceleration</string>
	<key>nextMetadataBottom</key>
	<string>monsterAwayNumber</string>
	<key>optionLayerSpeed</key>
	<string>transitionFromState</string>
	<key>servicePlatformTension</key>
	<string>hashEnvironmentCenter</string>
	<key>sharedActionCenter</key>
	<string>resolverCycleDirection</string>
	<key>tweenDecoratorShade</key>
	<string>elasticLoopRight</string>
</dict>
</plist>
