<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedObserverVelocity</key>
	<string>repositoryWorkState</string>
	<key>sinkScopeDelay</key>
	<string>standaloneLossMargin</string>
	<key>smartChapterBound</key>
	<string>optimizerInTemple</string>
</dict>
</plist>
