<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationValueTheme</key>
	<string>layerStructureTint</string>
	<key>configurationMethodLeft</key>
	<string>missionProcessRight</string>
	<key>convolutionDespiteScope</key>
	<string>eventChainTheme</string>
	<key>delegateFrameworkType</key>
	<string>captionLevelLeft</string>
	<key>directlyMissionFormat</key>
	<string>disparateChannelFeedback</string>
	<key>titleOfPlatform</key>
	<string>largeDependencyMode</string>
</dict>
</plist>
