<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveFragmentTint</key>
	<string>intuitiveIconBottom</string>
	<key>equipmentLikeStrategy</key>
	<string>resolverTaskHue</string>
	<key>factoryBridgeTop</key>
	<string>documentSingletonBottom</string>
	<key>mediaAgainstMethod</key>
	<string>standaloneUsecaseScale</string>
	<key>mediumMatrixOrigin</key>
	<string>checkboxDespiteShape</string>
	<key>petOrChain</key>
	<string>lazyProviderBound</string>
	<key>positionProcessPadding</key>
	<string>localizationParameterSpacing</string>
	<key>reductionFromInterpreter</key>
	<string>containerWithoutPhase</string>
	<key>respectiveMonsterValidation</key>
	<string>permissiveVariantStyle</string>
	<key>stepAndActivity</key>
	<string>accessibleSemanticsBottom</string>
</dict>
</plist>
