<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVersusType</key>
	<string>metadataFrameworkRight</string>
	<key>documentMementoAlignment</key>
	<string>injectionInterpreterDelay</string>
	<key>drawerFunctionHue</key>
	<string>independentMaterialSaturation</string>
	<key>layoutStateRotation</key>
	<string>buttonDecoratorCoord</string>
	<key>mutableDelegateMomentum</key>
	<string>operationFormVisibility</string>
	<key>precisionAroundStyle</key>
	<string>localizationParameterPadding</string>
	<key>rapidBaseDirection</key>
	<string>durationTierDepth</string>
	<key>resilientInteractorInterval</key>
	<string>delicateBatchTransparency</string>
</dict>
</plist>
