<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoOffsetAppearance</key>
	<string>protectedLoopLocation</string>
	<key>callbackNearTemple</key>
	<string>entropySinceKind</string>
	<key>dedicatedConfigurationName</key>
	<string>capsuleChainTail</string>
	<key>durationSystemLeft</key>
	<string>entityInsideKind</string>
	<key>factoryMethodForce</key>
	<string>storageWithoutCycle</string>
	<key>publicMonsterHead</key>
	<string>constIndicatorPadding</string>
	<key>spotExceptParam</key>
	<string>curveUntilWork</string>
</dict>
</plist>
