<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetLikeEnvironment</key>
	<string>repositoryIncludeStructure</string>
	<key>controllerContainState</key>
	<string>canvasCycleSize</string>
	<key>gridAboutValue</key>
	<string>layoutWorkSkewy</string>
	<key>layoutMediatorSkewx</key>
	<string>timerAgainstPattern</string>
	<key>managerPhaseBound</key>
	<string>enabledSkirtOffset</string>
	<key>shaderOrSingleton</key>
	<string>immutableStoreBorder</string>
	<key>smallAccessoryColor</key>
	<string>greatMobxDistance</string>
	<key>storageFrameworkSpacing</key>
	<string>chartShapeFeedback</string>
	<key>textfieldFromShape</key>
	<string>taskTaskFlags</string>
</dict>
</plist>
