<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutPerCommand</key>
	<string>cartesianTopicSize</string>
	<key>listviewFromStrategy</key>
	<string>awaitMementoPadding</string>
	<key>nextAccessoryIndex</key>
	<string>animatedChannelInteraction</string>
	<key>skinExceptProxy</key>
	<string>arithmeticPatternLocation</string>
	<key>techniqueDespiteType</key>
	<string>richtextBesideMode</string>
	<key>topicLikeProxy</key>
	<string>intensityAgainstOperation</string>
	<key>utilForWork</key>
	<string>sceneAtForm</string>
</dict>
</plist>
