<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBuilderDensity</key>
	<string>oldRadiusScale</string>
	<key>inactiveTransitionSize</key>
	<string>resolverSystemEdge</string>
	<key>intermediateEventFeedback</key>
	<string>exceptionPatternInteraction</string>
	<key>intermediateVectorState</key>
	<string>draggableMetadataSpacing</string>
	<key>persistentObserverSpacing</key>
	<string>ternaryBeyondInterpreter</string>
	<key>rectThroughKind</key>
	<string>difficultProjectionShape</string>
</dict>
</plist>
