<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemFlyweightPressure</key>
	<string>normAlongTier</string>
	<key>hashAtNumber</key>
	<string>deferredDependencyDirection</string>
	<key>localizationMediatorName</key>
	<string>permanentViewRight</string>
	<key>utilMediatorBottom</key>
	<string>permanentChapterShape</string>
</dict>
</plist>
