<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>observerAboutType</key>
	<string>desktopSensorScale</string>
	<key>prevTimerPadding</key>
	<string>heroInState</string>
	<key>semanticInterfaceEdge</key>
	<string>capacitiesUntilParam</string>
	<key>viewByBridge</key>
	<string>customizedParticleColor</string>
</dict>
</plist>
