<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateInJob</key>
	<string>immutableCompleterInset</string>
	<key>hashTempleFlags</key>
	<string>scaffoldLayerStatus</string>
	<key>providerContainOperation</key>
	<string>integerStateCoord</string>
	<key>responseAgainstChain</key>
	<string>newestDialogsAppearance</string>
	<key>textAtObserver</key>
	<string>scrollStructureTheme</string>
</dict>
</plist>
