<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCubitSkewy</key>
	<string>lazyFactoryColor</string>
	<key>criticalCubitSaturation</key>
	<string>controllerCycleOffset</string>
	<key>subscriptionPhaseState</key>
	<string>elasticEqualizationEdge</string>
</dict>
</plist>
