<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerSingletonInset</key>
	<string>repositoryTempleTension</string>
	<key>easyIntensityRotation</key>
	<string>taskMediatorMode</string>
	<key>effectActivityFlags</key>
	<string>delegateExceptFunction</string>
	<key>finalNavigationDirection</key>
	<string>navigatorInsideCycle</string>
	<key>geometricSwitchFeedback</key>
	<string>equipmentNearStructure</string>
	<key>popupOrWork</key>
	<string>richtextModeSize</string>
	<key>requestPatternAppearance</key>
	<string>statefulFutureDepth</string>
	<key>temporaryModelTheme</key>
	<string>prismaticRoleVisible</string>
	<key>uniqueStoreHead</key>
	<string>euclideanSliderInterval</string>
</dict>
</plist>
