<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentProcessTint</key>
	<string>dependencyActionMomentum</string>
	<key>arithmeticEffectAppearance</key>
	<string>alignmentIncludeShape</string>
	<key>cosineContextBrightness</key>
	<string>similarCubeBorder</string>
	<key>curveBeyondBridge</key>
	<string>dimensionInChain</string>
	<key>durationFunctionType</key>
	<string>localizationShapeBrightness</string>
	<key>fusedSlashTop</key>
	<string>extensionOrComposite</string>
	<key>symmetricCacheDistance</key>
	<string>stackInterpreterLeft</string>
</dict>
</plist>
