<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPreviewAlignment</key>
	<string>hierarchicalGraphShade</string>
	<key>capsuleShapeOpacity</key>
	<string>petSystemName</string>
	<key>comprehensiveTimerLocation</key>
	<string>eagerTableBehavior</string>
	<key>iterativeCompositionBrightness</key>
	<string>disparateIntegerLeft</string>
	<key>persistentAlphaSkewy</key>
	<string>shaderStageSkewx</string>
	<key>plateAndProxy</key>
	<string>reducerInsideMediator</string>
	<key>publicIsolateTransparency</key>
	<string>similarProgressbarRate</string>
	<key>tickerOrParameter</key>
	<string>invisibleMetadataOpacity</string>
	<key>visibleExceptionPosition</key>
	<string>catalystByMediator</string>
</dict>
</plist>
