<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateKindDistance</key>
	<string>popupThroughStyle</string>
	<key>constraintExceptJob</key>
	<string>textAgainstObserver</string>
	<key>durationBesideForm</key>
	<string>gradientWithActivity</string>
	<key>easyTextureCenter</key>
	<string>robustQueueLeft</string>
	<key>layoutDuringParameter</key>
	<string>comprehensivePresenterPosition</string>
	<key>mapSinceContext</key>
	<string>gradientAboutForm</string>
	<key>operationInsideMemento</key>
	<string>coordinatorEnvironmentBound</string>
	<key>playbackProxyPosition</key>
	<string>mutablePrecisionInterval</string>
	<key>primaryLayoutAppearance</key>
	<string>sizeEnvironmentValidation</string>
	<key>timerPerVisitor</key>
	<string>cupertinoStateFrequency</string>
</dict>
</plist>
