<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterCommandBottom</key>
	<string>assetFacadeAlignment</string>
	<key>futureInterpreterShape</key>
	<string>nodeCompositeCoord</string>
	<key>protectedExtensionPressure</key>
	<string>equipmentAsMediator</string>
	<key>temporaryChartInteraction</key>
	<string>adaptivePopupOffset</string>
</dict>
</plist>
