<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorKindDelay</key>
	<string>injectionAroundMemento</string>
	<key>heroAroundVar</key>
	<string>curveOutsideVisitor</string>
	<key>navigatorInTier</key>
	<string>effectSystemType</string>
	<key>routeValueTheme</key>
	<string>layerPlatformFeedback</string>
</dict>
</plist>
