<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constLayerStyle</key>
	<string>histogramShapeFrequency</string>
	<key>consultativeTransformerTint</key>
	<string>logForChain</string>
	<key>frameAdapterStatus</key>
	<string>techniqueMediatorMargin</string>
	<key>nextMethodOpacity</key>
	<string>routeNumberOrientation</string>
	<key>serviceIncludeComposite</key>
	<string>commandStrategyLeft</string>
	<key>textFrameworkLeft</key>
	<string>threadTemplePressure</string>
</dict>
</plist>
