<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainOutsideObserver</key>
	<string>collectionAdapterState</string>
	<key>keyResourceTop</key>
	<string>rapidButtonIndex</string>
	<key>mobileForActivity</key>
	<string>materialLayoutCenter</string>
	<key>painterWithoutChain</key>
	<string>grainStructureSkewx</string>
	<key>playbackJobCoord</key>
	<string>injectionAtKind</string>
	<key>primaryCustompaintDuration</key>
	<string>sliderWorkFlags</string>
	<key>serviceIncludeMemento</key>
	<string>entropyAdapterPosition</string>
	<key>sortedClipperMomentum</key>
	<string>textureNearJob</string>
</dict>
</plist>
