<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesContainSystem</key>
	<string>methodAlongObserver</string>
	<key>diffableParticleAlignment</key>
	<string>routerModePosition</string>
	<key>mediaContextBottom</key>
	<string>loopFormKind</string>
	<key>primaryCommandCenter</key>
	<string>robustCatalystRotation</string>
	<key>semanticAnimationTail</key>
	<string>notificationSystemVisible</string>
	<key>usageOfFunction</key>
	<string>autoGetxState</string>
</dict>
</plist>
