<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStyleBorder</key>
	<string>momentumFrameworkTransparency</string>
	<key>bufferDuringMode</key>
	<string>comprehensiveGroupInset</string>
	<key>cacheExceptMemento</key>
	<string>sampleTempleCount</string>
	<key>eagerIconForce</key>
	<string>significantAppbarShade</string>
	<key>interactiveRowInteraction</key>
	<string>activatedRiverpodTransparency</string>
	<key>resizableTopicBottom</key>
	<string>concreteBinaryInset</string>
</dict>
</plist>
