<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperForContext</key>
	<string>builderAwayPrototype</string>
	<key>enabledImageState</key>
	<string>effectScopeDirection</string>
	<key>errorForNumber</key>
	<string>retainedVariantStyle</string>
	<key>fragmentTypeOffset</key>
	<string>ignoredDecorationMargin</string>
	<key>mediocreTextMomentum</key>
	<string>brushVersusContext</string>
	<key>queryLikeLayer</key>
	<string>compositionTaskInset</string>
	<key>taskLevelState</key>
	<string>ternaryFormDistance</string>
</dict>
</plist>
