<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorByInterpreter</key>
	<string>actionOperationInteraction</string>
	<key>curveForObserver</key>
	<string>publicSpotHue</string>
	<key>hardBrushTint</key>
	<string>workflowLevelForce</string>
	<key>largeMapTag</key>
	<string>activeUsecaseOpacity</string>
	<key>otherStreamTransparency</key>
	<string>requiredGroupDepth</string>
	<key>rapidPetMode</key>
	<string>asynchronousContainerBehavior</string>
	<key>roleSinceVariable</key>
	<string>overlayCompositeValidation</string>
	<key>semanticsContextLocation</key>
	<string>effectFormPadding</string>
	<key>singleCubitFlags</key>
	<string>cartesianSwitchFeedback</string>
	<key>taskOutsideProxy</key>
	<string>buttonNearTemple</string>
</dict>
</plist>
