<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowProxyDirection</key>
	<string>hyperbolicNavigationSpacing</string>
	<key>cacheContainEnvironment</key>
	<string>convolutionVisitorContrast</string>
	<key>compositionPlatformDistance</key>
	<string>tweenWorkMode</string>
	<key>decorationThroughAdapter</key>
	<string>discardedConstraintBrightness</string>
	<key>explicitUtilDistance</key>
	<string>gateDespiteFlyweight</string>
	<key>hardAsyncLocation</key>
	<string>effectProcessBound</string>
	<key>intensityVisitorTag</key>
	<string>consultativeBufferAcceleration</string>
	<key>routeFrameworkSize</key>
	<string>agileInterfaceMargin</string>
	<key>scrollableTweenState</key>
	<string>cacheAndTemple</string>
	<key>viewActivityFlags</key>
	<string>asynchronousBuilderSize</string>
</dict>
</plist>
