<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellStateShape</key>
	<string>roleChainPadding</string>
	<key>finalTweenHue</key>
	<string>substantialLabelBound</string>
	<key>parallelSwitchStyle</key>
	<string>durationDespiteActivity</string>
	<key>textureParameterAcceleration</key>
	<string>dropdownbuttonLevelInterval</string>
</dict>
</plist>
