<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxLikeChain</key>
	<string>tweenStyleInterval</string>
	<key>keyStoreBorder</key>
	<string>aspectAlongEnvironment</string>
	<key>responseMethodOrigin</key>
	<string>statefulAdapterHead</string>
	<key>tickerActionDepth</key>
	<string>globalCommandTag</string>
</dict>
</plist>
