<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredEffectLeft</key>
	<string>missedLogarithmShade</string>
	<key>sessionSinceCycle</key>
	<string>presenterFormType</string>
	<key>usecaseFrameworkContrast</key>
	<string>semanticsSystemRight</string>
	<key>usedCacheLocation</key>
	<string>alphaNearProcess</string>
</dict>
</plist>
