<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedUsageCount</key>
	<string>delicateBorderDepth</string>
	<key>interactiveIconStatus</key>
	<string>loopLevelName</string>
	<key>precisionAsVariable</key>
	<string>nodeOutsideEnvironment</string>
	<key>responseSinceFunction</key>
	<string>loopVisitorAlignment</string>
	<key>temporaryRectRate</key>
	<string>baseUntilEnvironment</string>
	<key>transitionSinceCommand</key>
	<string>nibAtState</string>
</dict>
</plist>
